USE [LEARNING_SERVICE]
GO
/****** Object:  StoredProcedure [dbo].[USP_ADMIN_SET_CATALOG_ACTIVE]    Script Date: 17-07-2026 14:53:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ============================================================
-- USP_ADMIN_SET_CATALOG_ACTIVE
-- Toggle ISACTIVE on any catalog entity by type and ID.
-- ============================================================
CREATE   PROCEDURE [dbo].[USP_ADMIN_SET_CATALOG_ACTIVE]
(
    @ENTITYTYPE NVARCHAR(20),   -- PATH, TOPIC, CONTENT, QUESTION
    @ENTITYID INT,
    @ISACTIVE BIT
)
AS
BEGIN
    SET NOCOUNT ON;

    IF @ENTITYTYPE = 'PATH'
    BEGIN
        IF NOT EXISTS (SELECT 1 FROM LEARNING_PATH_MASTER WHERE PATHID = @ENTITYID)
        BEGIN
            SELECT 1 AS ErrorCode, 'NOT_FOUND' AS ErrorType, 'Path not found' AS ErrorMessage;
            RETURN;
        END
        UPDATE LEARNING_PATH_MASTER SET ISACTIVE = @ISACTIVE, UPDATEDDATE = SYSUTCDATETIME() WHERE PATHID = @ENTITYID;
    END
    ELSE IF @ENTITYTYPE = 'TOPIC'
    BEGIN
        IF NOT EXISTS (SELECT 1 FROM TOPIC_MASTER WHERE TOPICID = @ENTITYID)
        BEGIN
            SELECT 1 AS ErrorCode, 'NOT_FOUND' AS ErrorType, 'Topic not found' AS ErrorMessage;
            RETURN;
        END
        UPDATE TOPIC_MASTER SET ISACTIVE = @ISACTIVE, UPDATEDDATE = SYSUTCDATETIME() WHERE TOPICID = @ENTITYID;
    END
    ELSE IF @ENTITYTYPE = 'CONTENT'
    BEGIN
        IF NOT EXISTS (SELECT 1 FROM CONTENT_ITEM WHERE CONTENTID = @ENTITYID)
        BEGIN
            SELECT 1 AS ErrorCode, 'NOT_FOUND' AS ErrorType, 'Content not found' AS ErrorMessage;
            RETURN;
        END
        UPDATE CONTENT_ITEM SET ISACTIVE = @ISACTIVE, UPDATEDDATE = SYSUTCDATETIME() WHERE CONTENTID = @ENTITYID;
    END
    ELSE IF @ENTITYTYPE = 'QUESTION'
    BEGIN
        IF NOT EXISTS (SELECT 1 FROM QUIZ_QUESTION_MASTER WHERE QUESTIONID = @ENTITYID)
        BEGIN
            SELECT 1 AS ErrorCode, 'NOT_FOUND' AS ErrorType, 'Question not found' AS ErrorMessage;
            RETURN;
        END
        UPDATE QUIZ_QUESTION_MASTER SET ISACTIVE = @ISACTIVE, UPDATEDDATE = SYSUTCDATETIME() WHERE QUESTIONID = @ENTITYID;
    END
    ELSE
    BEGIN
        SELECT 2 AS ErrorCode, 'INVALID_ENTITY_TYPE' AS ErrorType,
               'entityType must be PATH, TOPIC, CONTENT, or QUESTION' AS ErrorMessage;
        RETURN;
    END

    SELECT 0 AS ErrorCode, 'SUCCESS' AS Status;
END
GO
/****** Object:  StoredProcedure [dbo].[USP_ADMIN_UPSERT_CONTENT_JSON]    Script Date: 17-07-2026 14:53:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ============================================================
-- USP_ADMIN_UPSERT_CONTENT_JSON
-- Bulk insert/update catalog data from a JSON payload.
-- Expected JSON format:
-- {
--   "paths": [{ "pathKey": "DSA", "pathName": "...", "pathEmoji": "...", "displayOrder": 1, "description": "..." }],
--   "topics": [{ "pathKey": "DSA", "topicKey": "ARRAYS", "topicName": "...", "difficultyTier": "BEGINNER", ... }],
--   "content": [{ "topicKey": "ARRAYS", "contentType": "PROBLEM", "title": "...", "externalUrl": "...", ... }],
--   "questions": [{ "topicKey": "ARRAYS", "questionText": "...", "optionA": "...", ... }]
-- }
-- ============================================================
CREATE   PROCEDURE [dbo].[USP_ADMIN_UPSERT_CONTENT_JSON]
(
    @CONTENTJSON NVARCHAR(MAX)
)
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        BEGIN TRANSACTION;

        DECLARE @PATHCOUNT INT = 0;
        DECLARE @TOPICCOUNT INT = 0;
        DECLARE @CONTENTCOUNT INT = 0;
        DECLARE @QUESTIONCOUNT INT = 0;

        --================================================
        -- 1. Upsert paths
        --================================================
        MERGE LEARNING_PATH_MASTER AS T
        USING (
            SELECT
                JSON_VALUE(value, '$.pathKey') AS PATHKEY,
                JSON_VALUE(value, '$.pathName') AS PATHNAME,
                JSON_VALUE(value, '$.pathEmoji') AS PATHEMOJI,
                CAST(JSON_VALUE(value, '$.displayOrder') AS INT) AS DISPLAYORDER,
                JSON_VALUE(value, '$.description') AS DESCRIPTION
            FROM OPENJSON(@CONTENTJSON, '$.paths')
        ) AS S
        ON T.PATHKEY = S.PATHKEY
        WHEN MATCHED THEN
            UPDATE SET
                PATHNAME = S.PATHNAME,
                PATHEMOJI = ISNULL(S.PATHEMOJI, T.PATHEMOJI),
                DISPLAYORDER = ISNULL(S.DISPLAYORDER, T.DISPLAYORDER),
                DESCRIPTION = ISNULL(S.DESCRIPTION, T.DESCRIPTION),
                UPDATEDDATE = SYSUTCDATETIME()
        WHEN NOT MATCHED THEN
            INSERT (PATHKEY, PATHNAME, PATHEMOJI, DISPLAYORDER, DESCRIPTION)
            VALUES (S.PATHKEY, S.PATHNAME, S.PATHEMOJI, S.DISPLAYORDER, S.DESCRIPTION);

        SET @PATHCOUNT = @@ROWCOUNT;

        --================================================
        -- 2. Upsert topics
        --================================================
        MERGE TOPIC_MASTER AS T
        USING (
            SELECT
                LP.PATHID,
                JSON_VALUE(value, '$.topicKey') AS TOPICKEY,
                JSON_VALUE(value, '$.topicName') AS TOPICNAME,
                JSON_VALUE(value, '$.description') AS DESCRIPTION,
                JSON_VALUE(value, '$.difficultyTier') AS DIFFICULTYTIER,
                CAST(JSON_VALUE(value, '$.estimatedMinutes') AS INT) AS ESTIMATEDMINUTES,
                CAST(JSON_VALUE(value, '$.displayOrder') AS INT) AS DISPLAYORDER,
                JSON_VALUE(value, '$.theoryMarkdown') AS THEORYMARKDOWN,
                (SELECT TM2.TOPICID FROM TOPIC_MASTER TM2 WHERE TM2.TOPICKEY = JSON_VALUE(value, '$.prerequisiteTopicKey')) AS PREREQUISITETOPICID
            FROM OPENJSON(@CONTENTJSON, '$.topics') J
            INNER JOIN LEARNING_PATH_MASTER LP ON LP.PATHKEY = JSON_VALUE(value, '$.pathKey')
        ) AS S
        ON T.TOPICKEY = S.TOPICKEY AND T.PATHID = S.PATHID
        WHEN MATCHED THEN
            UPDATE SET
                TOPICNAME = S.TOPICNAME,
                DESCRIPTION = ISNULL(S.DESCRIPTION, T.DESCRIPTION),
                DIFFICULTYTIER = ISNULL(S.DIFFICULTYTIER, T.DIFFICULTYTIER),
                ESTIMATEDMINUTES = ISNULL(S.ESTIMATEDMINUTES, T.ESTIMATEDMINUTES),
                DISPLAYORDER = ISNULL(S.DISPLAYORDER, T.DISPLAYORDER),
                THEORYMARKDOWN = ISNULL(S.THEORYMARKDOWN, T.THEORYMARKDOWN),
                PREREQUISITETOPICID = S.PREREQUISITETOPICID,
                UPDATEDDATE = SYSUTCDATETIME()
        WHEN NOT MATCHED THEN
            INSERT (PATHID, TOPICKEY, TOPICNAME, DESCRIPTION, DIFFICULTYTIER, ESTIMATEDMINUTES, DISPLAYORDER, THEORYMARKDOWN, PREREQUISITETOPICID)
            VALUES (S.PATHID, S.TOPICKEY, S.TOPICNAME, S.DESCRIPTION, S.DIFFICULTYTIER, S.ESTIMATEDMINUTES, S.DISPLAYORDER, S.THEORYMARKDOWN, S.PREREQUISITETOPICID);

        SET @TOPICCOUNT = @@ROWCOUNT;

        --================================================
        -- 3. Insert content items (append-only, no update)
        --================================================
        INSERT INTO CONTENT_ITEM
        (TOPICID, CONTENTTYPE, TITLE, SUMMARY, EXTERNALURL, PLATFORMCODE, DIFFICULTY, ESTIMATEDMINUTES, DISPLAYORDER)
        SELECT
            TM.TOPICID,
            JSON_VALUE(value, '$.contentType'),
            JSON_VALUE(value, '$.title'),
            JSON_VALUE(value, '$.summary'),
            JSON_VALUE(value, '$.externalUrl'),
            JSON_VALUE(value, '$.platformCode'),
            JSON_VALUE(value, '$.difficulty'),
            CAST(JSON_VALUE(value, '$.estimatedMinutes') AS INT),
            CAST(JSON_VALUE(value, '$.displayOrder') AS INT)
        FROM OPENJSON(@CONTENTJSON, '$.content') J
        INNER JOIN TOPIC_MASTER TM ON TM.TOPICKEY = JSON_VALUE(value, '$.topicKey')
        WHERE NOT EXISTS (
            SELECT 1 FROM CONTENT_ITEM CI
            WHERE CI.TOPICID = TM.TOPICID
              AND CI.EXTERNALURL = JSON_VALUE(value, '$.externalUrl')
        );

        SET @CONTENTCOUNT = @@ROWCOUNT;

        --================================================
        -- 4. Insert quiz questions (append-only)
        --================================================
        INSERT INTO QUIZ_QUESTION_MASTER
        (TOPICID, CONTENTID, QUESTIONTEXT, OPTIONA, OPTIONB, OPTIONC, OPTIOND, CORRECTOPTION, EXPLANATION, DIFFICULTY, DISPLAYORDER)
        SELECT
            TM.TOPICID,
            NULL,
            JSON_VALUE(value, '$.questionText'),
            JSON_VALUE(value, '$.optionA'),
            JSON_VALUE(value, '$.optionB'),
            JSON_VALUE(value, '$.optionC'),
            JSON_VALUE(value, '$.optionD'),
            JSON_VALUE(value, '$.correctOption'),
            JSON_VALUE(value, '$.explanation'),
            JSON_VALUE(value, '$.difficulty'),
            ISNULL(TRY_CAST(JSON_VALUE(value, '$.displayOrder') AS INT),
                ROW_NUMBER() OVER (PARTITION BY TM.TOPICID ORDER BY (SELECT NULL)))
        FROM OPENJSON(@CONTENTJSON, '$.questions') J
        INNER JOIN TOPIC_MASTER TM ON TM.TOPICKEY = JSON_VALUE(value, '$.topicKey')
        WHERE NOT EXISTS (
            SELECT 1 FROM QUIZ_QUESTION_MASTER QQ
            WHERE QQ.TOPICID = TM.TOPICID
              AND QQ.QUESTIONTEXT = JSON_VALUE(value, '$.questionText')
        );

        SET @QUESTIONCOUNT = @@ROWCOUNT;

        COMMIT TRANSACTION;

        SELECT
            0 AS ErrorCode,
            'SUCCESS' AS Status,
            @PATHCOUNT AS PathsUpserted,
            @TOPICCOUNT AS TopicsUpserted,
            @CONTENTCOUNT AS ContentInserted,
            @QUESTIONCOUNT AS QuestionsInserted;

    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0 ROLLBACK TRANSACTION;

        SELECT
            99 AS ErrorCode,
            'INTERNAL_ERROR' AS ErrorType,
            ERROR_MESSAGE() AS ErrorMessage,
            ERROR_LINE() AS SqlErrorLine;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[USP_APPEND_MISSING_QUIZ_PLAN_ROW]    Script Date: 17-07-2026 14:53:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ============================================================
-- USP_APPEND_MISSING_QUIZ_PLAN_ROW
-- If today's plan has theory/practice/review but no QUIZ row and
-- the topic has enough questions, inserts a QUIZ plan row.
-- Fixes plans generated under older logic that skipped quiz when
-- minute budget was already used (e.g. 30 min after theory+practice).
-- ============================================================
CREATE   PROCEDURE [dbo].[USP_APPEND_MISSING_QUIZ_PLAN_ROW]
(
    @USERID INT,
    @PLANDATE DATE
)
AS
BEGIN
    SET NOCOUNT ON;

    IF NOT EXISTS (
        SELECT 1 FROM dbo.DAILY_LEARNING_PLAN
        WHERE USERID = @USERID AND PLANDATE = @PLANDATE
    )
        RETURN;

    IF EXISTS (
        SELECT 1 FROM dbo.DAILY_LEARNING_PLAN
        WHERE USERID = @USERID AND PLANDATE = @PLANDATE AND PLANSLOT = N'QUIZ'
    )
        RETURN;

    DECLARE @TOPICID INT;

    SELECT TOP 1 @TOPICID = TOPICID
    FROM dbo.DAILY_LEARNING_PLAN
    WHERE USERID = @USERID AND PLANDATE = @PLANDATE
    ORDER BY
        CASE PLANSLOT
            WHEN N'REVIEW' THEN 1
            WHEN N'THEORY' THEN 2
            WHEN N'PRACTICE' THEN 3
            WHEN N'QUIZ' THEN 4
            ELSE 5
        END,
        PLANID;

    IF @TOPICID IS NULL
        RETURN;

    IF (SELECT COUNT(*) FROM dbo.QUIZ_QUESTION_MASTER WHERE TOPICID = @TOPICID AND ISACTIVE = 1) < 2
        RETURN;

    DECLARE @DAYID INT;
    SELECT TOP 1 @DAYID = DAYID
    FROM dbo.DAILY_LEARNING_PLAN
    WHERE USERID = @USERID AND PLANDATE = @PLANDATE AND DAYID IS NOT NULL
    ORDER BY PLANID;

    INSERT INTO dbo.DAILY_LEARNING_PLAN
    (USERID, PLANDATE, PLANTYPE, PLANSLOT, TOPICID, CONTENTID, QUIZREQUIRED, DAYID)
    VALUES
    (@USERID, @PLANDATE, N'NEW', N'QUIZ', @TOPICID, NULL, 1, @DAYID);
END
GO
/****** Object:  StoredProcedure [dbo].[USP_GENERATE_DAILY_LEARNING_PLAN]    Script Date: 17-07-2026 14:53:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ============================================================
-- USP_GENERATE_DAILY_LEARNING_PLAN
-- Core algorithm: pick reviews due + new content for user's
-- enrolled paths, respecting daily minutes budget, Leitner box
-- schedule, topic prerequisites, and difficulty tier.
-- ============================================================
CREATE   PROCEDURE [dbo].[USP_GENERATE_DAILY_LEARNING_PLAN]
(
    @USERID INT,
    @PLANDATE DATE,
    @DAYID INT = NULL,
    @MAXNONMASTEREDTOPICS INT = NULL
)
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        DECLARE @DAILYMINUTES INT;
        DECLARE @SKILLLEVEL NVARCHAR(20);
        DECLARE @MINUTESUSED INT = 0;
        DECLARE @PLANID INT;
        DECLARE @EFFECTIVEDAYID INT;

        --================================================
        -- 1. Validate user has guided learning enabled
        --================================================
        SELECT
            @DAILYMINUTES = DAILYMINUTES,
            @SKILLLEVEL = SKILLLEVEL
        FROM USER_LEARNING_PROFILE
        WHERE USERID = @USERID AND GUIDEDENABLED = 1;

        IF @DAILYMINUTES IS NULL
        BEGIN
            SELECT
                1 AS ErrorCode,
                'NOT_ENROLLED' AS ErrorType,
                'User does not have guided learning enabled' AS ErrorMessage;
            RETURN;
        END

        --================================================
        -- 2. Check if plan already exists for this date
        --================================================
        IF EXISTS (
            SELECT 1 FROM DAILY_LEARNING_PLAN
            WHERE USERID = @USERID AND PLANDATE = @PLANDATE
        )
        BEGIN
            SELECT
                2 AS ErrorCode,
                'PLAN_EXISTS' AS ErrorType,
                'Plan already exists for this date' AS ErrorMessage;
            RETURN;
        END

        --================================================
        -- 3. Check user has enrollments
        --================================================
        IF NOT EXISTS (
            SELECT 1 FROM USER_PATH_ENROLLMENT
            WHERE USERID = @USERID AND ISACTIVE = 1
        )
        BEGIN
            SELECT
                3 AS ErrorCode,
                'NO_ENROLLMENTS' AS ErrorType,
                'User has no active path enrollments' AS ErrorMessage;
            RETURN;
        END

        --================================================
        -- 3b. Require daily non-negotiable checklist (USERDAY + DAYCHECKLISTITEM)
        --================================================
        IF NOT EXISTS (
            SELECT 1
            FROM [DAILY_EXECUTION].[dbo].[USERDAY] ud
            INNER JOIN [DAILY_EXECUTION].[dbo].[DAYCHECKLISTITEM] dci ON dci.DAYID = ud.DAYID
            WHERE ud.USERID = @USERID
              AND CAST(ud.DAYDATE AS DATE) = CAST(@PLANDATE AS DATE)
        )
        BEGIN
            SELECT
                4 AS ErrorCode,
                'NO_NON_NEGOTIABLES' AS ErrorType,
                'No daily non-negotiable checklist for this date' AS ErrorMessage;
            RETURN;
        END

        SET @EFFECTIVEDAYID = @DAYID;
        IF @EFFECTIVEDAYID IS NULL
        BEGIN
            BEGIN TRY
                SELECT @EFFECTIVEDAYID = ud.DAYID
                FROM [DAILY_EXECUTION].[dbo].[USERDAY] ud
                WHERE ud.USERID = @USERID AND ud.DAYDATE = @PLANDATE;
            END TRY
            BEGIN CATCH
                SET @EFFECTIVEDAYID = NULL;
            END CATCH
        END

        BEGIN TRANSACTION;

        --================================================
        -- 4. REVIEW SLOT: topics where NEXTREVIEWDATE <= today
        --================================================
        DECLARE @REVIEWTOPICID INT;
        DECLARE @REVIEWCONTENTID INT;

        SELECT TOP 1
            @REVIEWTOPICID = UTP.TOPICID
        FROM USER_TOPIC_PROGRESS UTP
        INNER JOIN TOPIC_MASTER TM ON UTP.TOPICID = TM.TOPICID
        INNER JOIN USER_PATH_ENROLLMENT UPE ON TM.PATHID = UPE.PATHID
            AND UPE.USERID = @USERID AND UPE.ISACTIVE = 1
        WHERE UTP.USERID = @USERID
          AND UTP.NEXTREVIEWDATE IS NOT NULL
          AND UTP.NEXTREVIEWDATE <= @PLANDATE
          AND UTP.MASTERYLEVEL != 'MASTERED'
        ORDER BY UTP.NEXTREVIEWDATE ASC, UPE.PRIORITYORDER ASC;

        IF @REVIEWTOPICID IS NOT NULL AND @MINUTESUSED < @DAILYMINUTES
        BEGIN
            -- Pick review content (previous content the user already saw)
            SELECT TOP 1 @REVIEWCONTENTID = CI.CONTENTID
            FROM CONTENT_ITEM CI
            INNER JOIN USER_TOPIC_PROGRESS UTP ON UTP.TOPICID = CI.TOPICID AND UTP.USERID = @USERID
            WHERE CI.TOPICID = @REVIEWTOPICID
              AND CI.ISACTIVE = 1
              AND CI.DISPLAYORDER <= UTP.CONTENTINDEX
            ORDER BY CI.DISPLAYORDER DESC;

            INSERT INTO DAILY_LEARNING_PLAN
            (USERID, PLANDATE, PLANTYPE, PLANSLOT, TOPICID, CONTENTID, QUIZREQUIRED, DAYID)
            VALUES
            (@USERID, @PLANDATE, 'REVIEW', 'REVIEW', @REVIEWTOPICID, @REVIEWCONTENTID, 0, @EFFECTIVEDAYID);

            SET @MINUTESUSED = @MINUTESUSED + 5;
        END

        --================================================
        -- 5. NEW CONTENT: pick next topic + content from path order
        --================================================
        DECLARE @NEWTOPICID INT;
        DECLARE @NEWCONTENTID INT;
        DECLARE @NEWCONTENTMINUTES INT;

        IF @MINUTESUSED < @DAILYMINUTES
        BEGIN
            -- Find next topic the user hasn't started or needs to continue
            SELECT TOP 1
                @NEWTOPICID = TM.TOPICID
            FROM TOPIC_MASTER TM
            INNER JOIN USER_PATH_ENROLLMENT UPE ON TM.PATHID = UPE.PATHID
                AND UPE.USERID = @USERID AND UPE.ISACTIVE = 1
            LEFT JOIN USER_TOPIC_PROGRESS UTP ON UTP.TOPICID = TM.TOPICID AND UTP.USERID = @USERID
            WHERE TM.ISACTIVE = 1
              AND (
                  -- Not started at all
                  UTP.PROGRESSID IS NULL
                  -- Or started but not mastered (has more content to do)
                  OR (
                      UTP.MASTERYLEVEL NOT IN ('PROFICIENT', 'MASTERED')
                      AND UTP.CONTENTINDEX < (SELECT COUNT(*) FROM CONTENT_ITEM WHERE TOPICID = TM.TOPICID AND ISACTIVE = 1)
                  )
              )
              -- Check prerequisites met
              AND (
                  TM.PREREQUISITETOPICID IS NULL
                  OR EXISTS (
                      SELECT 1 FROM USER_TOPIC_PROGRESS PRE
                      WHERE PRE.USERID = @USERID
                        AND PRE.TOPICID = TM.PREREQUISITETOPICID
                        AND PRE.MASTERYLEVEL IN ('FAMILIAR', 'PROFICIENT', 'MASTERED')
                  )
              )
            ORDER BY UPE.PRIORITYORDER ASC, TM.DISPLAYORDER ASC;

            IF @NEWTOPICID IS NOT NULL
            BEGIN
                -- Subscription: cap concurrent non-mastered topics (new progress row = new topic track)
                IF NOT EXISTS (
                    SELECT 1 FROM USER_TOPIC_PROGRESS
                    WHERE USERID = @USERID AND TOPICID = @NEWTOPICID
                )
                   AND @MAXNONMASTEREDTOPICS IS NOT NULL
                BEGIN
                    DECLARE @NONMASTEREDTOPICCOUNT INT;
                    SELECT @NONMASTEREDTOPICCOUNT = COUNT(*)
                    FROM USER_TOPIC_PROGRESS
                    WHERE USERID = @USERID
                      AND MASTERYLEVEL <> N'MASTERED';

                    IF @NONMASTEREDTOPICCOUNT >= @MAXNONMASTEREDTOPICS
                    BEGIN
                        ROLLBACK TRANSACTION;

                        SELECT
                            5 AS ErrorCode,
                            'TOPIC_LIMIT_REACHED' AS ErrorType,
                            N'Topic limit reached for your plan. Master a topic or upgrade to start another.' AS ErrorMessage,
                            @MAXNONMASTEREDTOPICS AS MaxTopics,
                            @NONMASTEREDTOPICCOUNT AS CurrentNonMasteredTopics;
                        RETURN;
                    END
                END

                -- Ensure progress row exists
                IF NOT EXISTS (
                    SELECT 1 FROM USER_TOPIC_PROGRESS
                    WHERE USERID = @USERID AND TOPICID = @NEWTOPICID
                )
                BEGIN
                    INSERT INTO USER_TOPIC_PROGRESS (USERID, TOPICID)
                    VALUES (@USERID, @NEWTOPICID);
                END

                DECLARE @CURRENTCONTENTINDEX INT;
                SELECT @CURRENTCONTENTINDEX = ISNULL(CONTENTINDEX, 0)
                FROM USER_TOPIC_PROGRESS
                WHERE USERID = @USERID AND TOPICID = @NEWTOPICID;

                -- THEORY SLOT (if topic has markdown theory)
                DECLARE @HASTHEORY BIT = 0;
                SELECT @HASTHEORY = CASE WHEN THEORYMARKDOWN IS NOT NULL AND LEN(THEORYMARKDOWN) > 0 THEN 1 ELSE 0 END
                FROM TOPIC_MASTER WHERE TOPICID = @NEWTOPICID;

                IF @HASTHEORY = 1 AND @MINUTESUSED < @DAILYMINUTES
                BEGIN
                    INSERT INTO DAILY_LEARNING_PLAN
                    (USERID, PLANDATE, PLANTYPE, PLANSLOT, TOPICID, CONTENTID, QUIZREQUIRED, DAYID)
                    VALUES
                    (@USERID, @PLANDATE, 'NEW', 'THEORY', @NEWTOPICID, NULL, 0, @EFFECTIVEDAYID);

                    SET @MINUTESUSED = @MINUTESUSED + 10;
                END

                -- PRACTICE SLOT: next content item
                IF @MINUTESUSED < @DAILYMINUTES
                BEGIN
                    SELECT TOP 1
                        @NEWCONTENTID = CONTENTID,
                        @NEWCONTENTMINUTES = ESTIMATEDMINUTES
                    FROM CONTENT_ITEM
                    WHERE TOPICID = @NEWTOPICID
                      AND ISACTIVE = 1
                      AND DISPLAYORDER > @CURRENTCONTENTINDEX
                    ORDER BY DISPLAYORDER ASC;

                    IF @NEWCONTENTID IS NOT NULL
                    BEGIN
                        INSERT INTO DAILY_LEARNING_PLAN
                        (USERID, PLANDATE, PLANTYPE, PLANSLOT, TOPICID, CONTENTID, QUIZREQUIRED, DAYID)
                        VALUES
                        (@USERID, @PLANDATE, 'NEW', 'PRACTICE', @NEWTOPICID, @NEWCONTENTID, 0, @EFFECTIVEDAYID);

                        SET @MINUTESUSED = @MINUTESUSED + ISNULL(@NEWCONTENTMINUTES, 15);
                    END
                END

                -- QUIZ SLOT — do NOT gate on minute budget: Theory + Practice often exceed
                -- a 30 min budget before quiz; quiz is required for SRS and must still appear.
                BEGIN
                    DECLARE @QCOUNT INT;
                    SELECT @QCOUNT = COUNT(*)
                    FROM QUIZ_QUESTION_MASTER
                    WHERE TOPICID = @NEWTOPICID AND ISACTIVE = 1;

                    IF @QCOUNT >= 2
                    BEGIN
                        INSERT INTO DAILY_LEARNING_PLAN
                        (USERID, PLANDATE, PLANTYPE, PLANSLOT, TOPICID, CONTENTID, QUIZREQUIRED, DAYID)
                        VALUES
                        (@USERID, @PLANDATE, 'NEW', 'QUIZ', @NEWTOPICID, NULL, 1, @EFFECTIVEDAYID);

                        SET @MINUTESUSED = @MINUTESUSED + 5;
                    END
                END
            END
        END

        COMMIT TRANSACTION;

        --================================================
        -- 6. Return generated plan
        --================================================
        SELECT
            0 AS ErrorCode,
            'SUCCESS' AS Status,
            'GENERATED' AS Action;

        SELECT
            DLP.PLANID,
            DLP.PLANDATE,
            DLP.PLANTYPE,
            DLP.PLANSLOT,
            DLP.STATUS,
            DLP.TOPICID,
            TM.TOPICNAME,
            TM.TOPICKEY,
            LP.PATHNAME,
            LP.PATHEMOJI,
            DLP.CONTENTID,
            CI.TITLE AS CONTENTTITLE,
            CI.CONTENTTYPE,
            CI.EXTERNALURL,
            CI.PLATFORMCODE,
            CI.DIFFICULTY,
            COALESCE(CI.ESTIMATEDMINUTES, 10) AS ESTIMATEDMINUTES,
            CASE WHEN DLP.PLANSLOT = 'THEORY' THEN TM.THEORYMARKDOWN ELSE NULL END AS THEORYMARKDOWN,
            DLP.QUIZREQUIRED,
            DLP.QUIZPASSED,
            DLP.QUIZSCOREPERCENT,
            DLP.COMPLETEDAT,
            DLP.DAYID
        FROM DAILY_LEARNING_PLAN DLP
        INNER JOIN TOPIC_MASTER TM ON DLP.TOPICID = TM.TOPICID
        INNER JOIN LEARNING_PATH_MASTER LP ON TM.PATHID = LP.PATHID
        LEFT JOIN CONTENT_ITEM CI ON DLP.CONTENTID = CI.CONTENTID
        WHERE DLP.USERID = @USERID
          AND DLP.PLANDATE = @PLANDATE
        ORDER BY
            CASE DLP.PLANSLOT
                WHEN 'REVIEW' THEN 1
                WHEN 'RECAP' THEN 2
                WHEN 'THEORY' THEN 3
                WHEN 'PRACTICE' THEN 4
                WHEN 'QUIZ' THEN 5
                ELSE 6
            END;

    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0 ROLLBACK TRANSACTION;

        SELECT
            99 AS ErrorCode,
            'INTERNAL_ERROR' AS ErrorType,
            ERROR_MESSAGE() AS ErrorMessage,
            ERROR_NUMBER() AS SqlErrorNumber,
            ERROR_LINE() AS SqlErrorLine;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[USP_GET_CONTENT_BY_TOPIC]    Script Date: 17-07-2026 14:53:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ============================================================
-- USP_GET_CONTENT_BY_TOPIC
-- ============================================================
CREATE   PROCEDURE [dbo].[USP_GET_CONTENT_BY_TOPIC]
(
    @TOPICID INT,
    @CONTENTTYPE NVARCHAR(20) = NULL,
    @ONLYACTIVE BIT = 1
)
AS
BEGIN
    SET NOCOUNT ON;

    IF NOT EXISTS (SELECT 1 FROM TOPIC_MASTER WHERE TOPICID = @TOPICID)
    BEGIN
        SELECT
            1 AS ErrorCode,
            'TOPIC_NOT_FOUND' AS ErrorType,
            'Topic not found' AS ErrorMessage;
        RETURN;
    END

    -- Result set 1: topic info with theory
    SELECT
        TOPICID,
        TOPICNAME,
        THEORYMARKDOWN
    FROM TOPIC_MASTER
    WHERE TOPICID = @TOPICID;

    -- Result set 2: content items
    SELECT
        CONTENTID,
        CONTENTTYPE,
        TITLE,
        SUMMARY,
        EXTERNALURL,
        PLATFORMCODE,
        DIFFICULTY,
        ESTIMATEDMINUTES,
        DISPLAYORDER
    FROM CONTENT_ITEM
    WHERE TOPICID = @TOPICID
      AND (@ONLYACTIVE = 0 OR ISACTIVE = 1)
      AND (@CONTENTTYPE IS NULL OR CONTENTTYPE = @CONTENTTYPE)
    ORDER BY DISPLAYORDER ASC;
END
GO
/****** Object:  StoredProcedure [dbo].[USP_GET_DAILY_PLAN_FOR_DATE]    Script Date: 17-07-2026 14:53:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ============================================================
-- USP_GET_DAILY_PLAN_FOR_DATE
-- Reads plan rows with joined details. Supports optional @PLANID
-- for single-row fetch.
-- ============================================================
CREATE   PROCEDURE [dbo].[USP_GET_DAILY_PLAN_FOR_DATE]
(
    @USERID INT,
    @PLANDATE DATE = NULL,
    @PLANID INT = NULL
)
AS
BEGIN
    SET NOCOUNT ON;

    IF @PLANID IS NULL AND @PLANDATE IS NULL
    BEGIN
        SELECT
            1 AS ErrorCode,
            'MISSING_PARAMS' AS ErrorType,
            'Either planDate or planId is required' AS ErrorMessage;
        RETURN;
    END

    SELECT
        DLP.PLANID,
        DLP.PLANDATE,
        DLP.PLANTYPE,
        DLP.PLANSLOT,
        DLP.STATUS,
        DLP.TOPICID,
        TM.TOPICNAME,
        TM.TOPICKEY,
        LP.PATHNAME,
        LP.PATHEMOJI,
        DLP.CONTENTID,
        CI.TITLE AS CONTENTTITLE,
        CI.CONTENTTYPE,
        CI.EXTERNALURL,
        CI.PLATFORMCODE,
        CI.DIFFICULTY,
        COALESCE(CI.ESTIMATEDMINUTES, 10) AS ESTIMATEDMINUTES,
        CASE WHEN DLP.PLANSLOT = 'THEORY' THEN TM.THEORYMARKDOWN ELSE NULL END AS THEORYMARKDOWN,
        DLP.QUIZREQUIRED,
        DLP.QUIZPASSED,
        DLP.QUIZSCOREPERCENT,
        DLP.COMPLETEDAT,
        DLP.DAYID
    FROM DAILY_LEARNING_PLAN DLP
    INNER JOIN TOPIC_MASTER TM ON DLP.TOPICID = TM.TOPICID
    INNER JOIN LEARNING_PATH_MASTER LP ON TM.PATHID = LP.PATHID
    LEFT JOIN CONTENT_ITEM CI ON DLP.CONTENTID = CI.CONTENTID
    WHERE DLP.USERID = @USERID
      AND (@PLANID IS NULL OR DLP.PLANID = @PLANID)
      AND (@PLANDATE IS NULL OR DLP.PLANDATE = @PLANDATE)
    ORDER BY
        CASE DLP.PLANSLOT
            WHEN 'REVIEW' THEN 1
            WHEN 'RECAP' THEN 2
            WHEN 'THEORY' THEN 3
            WHEN 'PRACTICE' THEN 4
            WHEN 'QUIZ' THEN 5
            ELSE 6
        END;
END
GO
/****** Object:  StoredProcedure [dbo].[USP_GET_LEARNING_PATHS]    Script Date: 17-07-2026 14:53:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ============================================================
-- USP_GET_LEARNING_PATHS
-- ============================================================
CREATE   PROCEDURE [dbo].[USP_GET_LEARNING_PATHS]
(
    @PATHKEY NVARCHAR(50) = NULL,
    @ONLYACTIVE BIT = 1
)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        PATHID,
        PATHKEY,
        PATHNAME,
        DESCRIPTION,
        PATHEMOJI,
        DISPLAYORDER,
        ISACTIVE,
        CREATEDDATE,
        UPDATEDDATE
    FROM dbo.LEARNING_PATH_MASTER
    WHERE
        (@ONLYACTIVE = 0 OR ISACTIVE = 1)
        AND (@PATHKEY IS NULL OR PATHKEY = @PATHKEY)
    ORDER BY DISPLAYORDER ASC;
END
GO
/****** Object:  StoredProcedure [dbo].[USP_GET_OR_CREATE_DAILY_LEARNING_PLAN]    Script Date: 17-07-2026 14:53:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ============================================================
-- USP_GET_OR_CREATE_DAILY_LEARNING_PLAN
-- Idempotent wrapper: returns existing plan or generates new one.
-- ============================================================
CREATE   PROCEDURE [dbo].[USP_GET_OR_CREATE_DAILY_LEARNING_PLAN]
(
    @USERID INT,
    @PLANDATE DATE = NULL,
    @DAYID INT = NULL,
    @MAXNONMASTEREDTOPICS INT = NULL
)
AS
BEGIN
    SET NOCOUNT ON;

    IF @PLANDATE IS NULL
        SET @PLANDATE = CAST(GETUTCDATE() AS DATE);

    -- Check if guided learning is enabled
    IF NOT EXISTS (
        SELECT 1 FROM USER_LEARNING_PROFILE
        WHERE USERID = @USERID AND GUIDEDENABLED = 1
    )
    BEGIN
        SELECT
            2 AS ErrorCode,
            'GUIDED_DISABLED' AS ErrorType,
            'Guided learning is not enabled for this user' AS ErrorMessage;
        RETURN;
    END

    -- Non-negotiable checklist must exist before we return or create a study plan
    IF NOT EXISTS (
        SELECT 1
        FROM [DAILY_EXECUTION].[dbo].[USERDAY] ud
        INNER JOIN [DAILY_EXECUTION].[dbo].[DAYCHECKLISTITEM] dci ON dci.DAYID = ud.DAYID
        WHERE ud.USERID = @USERID
          AND CAST(ud.DAYDATE AS DATE) = CAST(@PLANDATE AS DATE)
    )
    BEGIN
        SELECT
            4 AS ErrorCode,
            'NO_NON_NEGOTIABLES' AS ErrorType,
            'No daily non-negotiable checklist for this date' AS ErrorMessage;
        RETURN;
    END

    -- If plan exists, return it
    IF EXISTS (
        SELECT 1 FROM DAILY_LEARNING_PLAN
        WHERE USERID = @USERID AND PLANDATE = @PLANDATE
    )
    BEGIN
        SELECT
            0 AS ErrorCode,
            'SUCCESS' AS Status,
            'EXISTING' AS Action;

        SELECT
            DLP.PLANID,
            DLP.PLANDATE,
            DLP.PLANTYPE,
            DLP.PLANSLOT,
            DLP.STATUS,
            DLP.TOPICID,
            TM.TOPICNAME,
            TM.TOPICKEY,
            LP.PATHNAME,
            LP.PATHEMOJI,
            DLP.CONTENTID,
            CI.TITLE AS CONTENTTITLE,
            CI.CONTENTTYPE,
            CI.EXTERNALURL,
            CI.PLATFORMCODE,
            CI.DIFFICULTY,
            COALESCE(CI.ESTIMATEDMINUTES, 10) AS ESTIMATEDMINUTES,
            CASE WHEN DLP.PLANSLOT = 'THEORY' THEN TM.THEORYMARKDOWN ELSE NULL END AS THEORYMARKDOWN,
            DLP.QUIZREQUIRED,
            DLP.QUIZPASSED,
            DLP.QUIZSCOREPERCENT,
            DLP.COMPLETEDAT,
            DLP.DAYID
        FROM DAILY_LEARNING_PLAN DLP
        INNER JOIN TOPIC_MASTER TM ON DLP.TOPICID = TM.TOPICID
        INNER JOIN LEARNING_PATH_MASTER LP ON TM.PATHID = LP.PATHID
        LEFT JOIN CONTENT_ITEM CI ON DLP.CONTENTID = CI.CONTENTID
        WHERE DLP.USERID = @USERID
          AND DLP.PLANDATE = @PLANDATE
        ORDER BY
            CASE DLP.PLANSLOT
                WHEN 'REVIEW' THEN 1
                WHEN 'RECAP' THEN 2
                WHEN 'THEORY' THEN 3
                WHEN 'PRACTICE' THEN 4
                WHEN 'QUIZ' THEN 5
                ELSE 6
            END;

        RETURN;
    END

    -- Plan doesn't exist — generate
    EXEC USP_GENERATE_DAILY_LEARNING_PLAN
        @USERID = @USERID,
        @PLANDATE = @PLANDATE,
        @DAYID = @DAYID,
        @MAXNONMASTEREDTOPICS = @MAXNONMASTEREDTOPICS;
END
GO
/****** Object:  StoredProcedure [dbo].[USP_GET_QUIZ_QUESTIONS_BY_TOPIC]    Script Date: 17-07-2026 14:53:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ============================================================
-- USP_GET_QUIZ_QUESTIONS_BY_TOPIC
-- Returns questions for a plan's topic (excludes correct answers
-- so frontend can't cheat; answers validated server-side on submit)
-- ============================================================
CREATE   PROCEDURE [dbo].[USP_GET_QUIZ_QUESTIONS_BY_TOPIC]
(
    @USERID INT,
    @PLANID INT,
    @LIMIT INT = 3
)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @TOPICID INT;

    -- Resolve topic from plan
    SELECT @TOPICID = DLP.TOPICID
    FROM DAILY_LEARNING_PLAN DLP
    WHERE DLP.PLANID = @PLANID
      AND DLP.USERID = @USERID;

    IF @TOPICID IS NULL
    BEGIN
        SELECT
            1 AS ErrorCode,
            'PLAN_NOT_FOUND' AS ErrorType,
            'Plan not found or does not belong to user' AS ErrorMessage;
        RETURN;
    END

    -- Return random N questions (no correct answer exposed)
    SELECT TOP (@LIMIT)
        QUESTIONID,
        QUESTIONTEXT,
        OPTIONA,
        OPTIONB,
        OPTIONC,
        OPTIOND,
        DIFFICULTY
    FROM QUIZ_QUESTION_MASTER
    WHERE TOPICID = @TOPICID
      AND ISACTIVE = 1
    ORDER BY NEWID();
END
GO
/****** Object:  StoredProcedure [dbo].[USP_GET_TOPICS_BY_PATH]    Script Date: 17-07-2026 14:53:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ============================================================
-- USP_GET_TOPICS_BY_PATH
-- ============================================================
CREATE   PROCEDURE [dbo].[USP_GET_TOPICS_BY_PATH]
(
    @PATHKEY NVARCHAR(50),
    @DIFFICULTYTIER NVARCHAR(20) = NULL,
    @ONLYACTIVE BIT = 1
)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @PATHID INT;

    SELECT @PATHID = PATHID
    FROM LEARNING_PATH_MASTER
    WHERE PATHKEY = @PATHKEY AND (@ONLYACTIVE = 0 OR ISACTIVE = 1);

    IF @PATHID IS NULL
    BEGIN
        SELECT
            1 AS ErrorCode,
            'PATH_NOT_FOUND' AS ErrorType,
            'Learning path not found: ' + @PATHKEY AS ErrorMessage;
        RETURN;
    END

    -- Result set 1: path info
    SELECT
        PATHID,
        PATHKEY,
        PATHNAME,
        PATHEMOJI
    FROM LEARNING_PATH_MASTER
    WHERE PATHID = @PATHID;

    -- Result set 2: topics
    SELECT
        T.TOPICID,
        T.TOPICKEY,
        T.TOPICNAME,
        T.DESCRIPTION,
        T.DIFFICULTYTIER,
        T.ESTIMATEDMINUTES,
        T.DISPLAYORDER,
        T.PREREQUISITETOPICID,
        CASE WHEN T.THEORYMARKDOWN IS NOT NULL AND LEN(T.THEORYMARKDOWN) > 0 THEN 1 ELSE 0 END AS HASTHEORY,
        (SELECT COUNT(*) FROM CONTENT_ITEM CI WHERE CI.TOPICID = T.TOPICID AND CI.ISACTIVE = 1) AS CONTENTCOUNT,
        (SELECT COUNT(*) FROM QUIZ_QUESTION_MASTER QQ WHERE QQ.TOPICID = T.TOPICID AND QQ.ISACTIVE = 1) AS QUESTIONCOUNT
    FROM TOPIC_MASTER T
    WHERE T.PATHID = @PATHID
      AND (@ONLYACTIVE = 0 OR T.ISACTIVE = 1)
      AND (@DIFFICULTYTIER IS NULL OR T.DIFFICULTYTIER = @DIFFICULTYTIER)
    ORDER BY T.DISPLAYORDER ASC;
END
GO
/****** Object:  StoredProcedure [dbo].[USP_GET_USER_LEARNING_PROFILE]    Script Date: 17-07-2026 14:53:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ============================================================
-- USP_GET_USER_LEARNING_PROFILE
-- ============================================================
CREATE   PROCEDURE [dbo].[USP_GET_USER_LEARNING_PROFILE]
(
    @USERID INT
)
AS
BEGIN
    SET NOCOUNT ON;

    IF NOT EXISTS (SELECT 1 FROM USER_LEARNING_PROFILE WHERE USERID = @USERID)
    BEGIN
        SELECT
            1 AS ErrorCode,
            'NO_PROFILE' AS ErrorType,
            'No learning profile found for user' AS ErrorMessage;
        RETURN;
    END

    SELECT
        PROFILEID,
        USERID,
        GUIDEDENABLED,
        SKILLLEVEL,
        DAILYMINUTES,
        LEARNINGGOAL,
        CREATEDDATE,
        UPDATEDDATE
    FROM USER_LEARNING_PROFILE
    WHERE USERID = @USERID;
END
GO
/****** Object:  StoredProcedure [dbo].[USP_GET_USER_PATH_ENROLLMENTS]    Script Date: 17-07-2026 14:53:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ============================================================
-- USP_GET_USER_PATH_ENROLLMENTS
-- ============================================================
CREATE   PROCEDURE [dbo].[USP_GET_USER_PATH_ENROLLMENTS]
(
    @USERID INT
)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        UPE.ENROLLMENTID,
        UPE.PATHID,
        LP.PATHKEY,
        LP.PATHNAME,
        LP.PATHEMOJI,
        UPE.PRIORITYORDER,
        UPE.ISACTIVE,
        UPE.ENROLLEDDATE
    FROM USER_PATH_ENROLLMENT UPE
    INNER JOIN LEARNING_PATH_MASTER LP ON UPE.PATHID = LP.PATHID
    WHERE UPE.USERID = @USERID
      AND UPE.ISACTIVE = 1
    ORDER BY UPE.PRIORITYORDER ASC;
END
GO
/****** Object:  StoredProcedure [dbo].[USP_GET_USER_TOPIC_PROGRESS]    Script Date: 17-07-2026 14:53:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ============================================================
-- USP_GET_USER_TOPIC_PROGRESS
-- Returns progress rows + optional summary and recent attempts.
-- ============================================================
CREATE   PROCEDURE [dbo].[USP_GET_USER_TOPIC_PROGRESS]
(
    @USERID INT,
    @PATHID INT = NULL,
    @TOPICID INT = NULL
)
AS
BEGIN
    SET NOCOUNT ON;

    -- Result set 1: summary (only when not filtering by single topic)
    IF @TOPICID IS NULL
    BEGIN
        SELECT
            COUNT(*) AS TotalTopics,
            SUM(CASE WHEN UTP.MASTERYLEVEL != 'NOT_STARTED' THEN 1 ELSE 0 END) AS StartedTopics,
            SUM(CASE WHEN UTP.MASTERYLEVEL = 'MASTERED' THEN 1 ELSE 0 END) AS MasteredTopics,
            CASE
                WHEN SUM(CASE WHEN UTP.ATTEMPTCOUNT > 0 THEN 1 ELSE 0 END) > 0
                THEN AVG(CASE WHEN UTP.LASTQUIZSCORE IS NOT NULL THEN UTP.LASTQUIZSCORE ELSE NULL END)
                ELSE 0
            END AS AverageScore,
            SUM(UTP.ATTEMPTCOUNT) AS TotalAttempts
        FROM USER_TOPIC_PROGRESS UTP
        INNER JOIN TOPIC_MASTER TM ON UTP.TOPICID = TM.TOPICID
        WHERE UTP.USERID = @USERID
          AND (@PATHID IS NULL OR TM.PATHID = @PATHID);
    END

    -- Result set 2: progress rows
    SELECT
        UTP.PROGRESSID,
        UTP.TOPICID,
        TM.TOPICNAME,
        TM.TOPICKEY,
        LP.PATHNAME,
        LP.PATHEMOJI,
        UTP.LEITNERBOX,
        UTP.LASTQUIZSCORE,
        UTP.ATTEMPTCOUNT,
        UTP.CONTENTINDEX,
        UTP.MASTERYLEVEL,
        UTP.NEXTREVIEWDATE,
        UTP.LASTATTEMPTEDAT
    FROM USER_TOPIC_PROGRESS UTP
    INNER JOIN TOPIC_MASTER TM ON UTP.TOPICID = TM.TOPICID
    INNER JOIN LEARNING_PATH_MASTER LP ON TM.PATHID = LP.PATHID
    WHERE UTP.USERID = @USERID
      AND (@PATHID IS NULL OR TM.PATHID = @PATHID)
      AND (@TOPICID IS NULL OR UTP.TOPICID = @TOPICID)
    ORDER BY LP.DISPLAYORDER, TM.DISPLAYORDER;

    -- Result set 3: recent quiz attempts (only when filtering single topic)
    IF @TOPICID IS NOT NULL
    BEGIN
        SELECT TOP 20
            LQA.ATTEMPTID,
            LQA.PLANID,
            LQA.QUESTIONID,
            LQA.SELECTEDOPTION,
            LQA.ISCORRECT,
            LQA.ATTEMPTEDAT
        FROM LEARNING_QUIZ_ATTEMPT LQA
        INNER JOIN DAILY_LEARNING_PLAN DLP ON LQA.PLANID = DLP.PLANID
        WHERE LQA.USERID = @USERID
          AND DLP.TOPICID = @TOPICID
        ORDER BY LQA.ATTEMPTEDAT DESC;
    END
END
GO
/****** Object:  StoredProcedure [dbo].[USP_GET_USERS_NEEDING_LEARNING_PLAN]    Script Date: 17-07-2026 14:53:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ============================================================
-- USP_GET_USERS_NEEDING_LEARNING_PLAN
-- Returns users with GUIDEDENABLED=1 and no plan for @PLANDATE.
-- Used by scheduler to know which users need a batch generate.
-- ============================================================
CREATE   PROCEDURE [dbo].[USP_GET_USERS_NEEDING_LEARNING_PLAN]
(
    @PLANDATE DATE
)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT ULP.USERID
    FROM USER_LEARNING_PROFILE ULP
    WHERE ULP.GUIDEDENABLED = 1
      AND NOT EXISTS (
          SELECT 1 FROM DAILY_LEARNING_PLAN DLP
          WHERE DLP.USERID = ULP.USERID
            AND DLP.PLANDATE = @PLANDATE
      )
      AND EXISTS (
          SELECT 1 FROM USER_PATH_ENROLLMENT UPE
          WHERE UPE.USERID = ULP.USERID AND UPE.ISACTIVE = 1
      );
END
GO
/****** Object:  StoredProcedure [dbo].[USP_INTERNAL_BATCH_GENERATE_PLANS]    Script Date: 17-07-2026 14:53:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ============================================================
-- USP_INTERNAL_BATCH_GENERATE_PLANS
-- Generates daily plans for all (or specified) users.
-- Called by scheduler/cron after midnight.
-- ============================================================
CREATE   PROCEDURE [dbo].[USP_INTERNAL_BATCH_GENERATE_PLANS]
(
    @PLANDATE DATE,
    @USERIDSJSON NVARCHAR(MAX) = NULL
)
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        DECLARE @USERSTABLE TABLE (USERID INT);
        DECLARE @TOTALPROCESSED INT = 0;
        DECLARE @TOTALGENERATED INT = 0;
        DECLARE @TOTALSKIPPED INT = 0;

        -- Determine user list
        IF @USERIDSJSON IS NOT NULL
        BEGIN
            INSERT INTO @USERSTABLE (USERID)
            SELECT CAST(value AS INT)
            FROM OPENJSON(@USERIDSJSON);
        END
        ELSE
        BEGIN
            INSERT INTO @USERSTABLE (USERID)
            SELECT ULP.USERID
            FROM USER_LEARNING_PROFILE ULP
            WHERE ULP.GUIDEDENABLED = 1
              AND NOT EXISTS (
                  SELECT 1 FROM DAILY_LEARNING_PLAN DLP
                  WHERE DLP.USERID = ULP.USERID AND DLP.PLANDATE = @PLANDATE
              )
              AND EXISTS (
                  SELECT 1 FROM USER_PATH_ENROLLMENT UPE
                  WHERE UPE.USERID = ULP.USERID AND UPE.ISACTIVE = 1
              );
        END

        DECLARE @CUR_USERID INT;
        DECLARE userCursor CURSOR LOCAL FAST_FORWARD FOR
            SELECT USERID FROM @USERSTABLE;

        OPEN userCursor;
        FETCH NEXT FROM userCursor INTO @CUR_USERID;

        WHILE @@FETCH_STATUS = 0
        BEGIN
            SET @TOTALPROCESSED = @TOTALPROCESSED + 1;

            -- Skip if plan already exists
            IF EXISTS (
                SELECT 1 FROM DAILY_LEARNING_PLAN
                WHERE USERID = @CUR_USERID AND PLANDATE = @PLANDATE
            )
            BEGIN
                SET @TOTALSKIPPED = @TOTALSKIPPED + 1;
            END
            ELSE
            BEGIN
                BEGIN TRY
                    EXEC USP_GENERATE_DAILY_LEARNING_PLAN
                        @USERID = @CUR_USERID,
                        @PLANDATE = @PLANDATE;

                    SET @TOTALGENERATED = @TOTALGENERATED + 1;
                END TRY
                BEGIN CATCH
                    SET @TOTALSKIPPED = @TOTALSKIPPED + 1;
                END CATCH
            END

            FETCH NEXT FROM userCursor INTO @CUR_USERID;
        END

        CLOSE userCursor;
        DEALLOCATE userCursor;

        SELECT
            0 AS ErrorCode,
            @TOTALPROCESSED AS TotalProcessed,
            @TOTALGENERATED AS TotalGenerated,
            @TOTALSKIPPED AS TotalSkipped;

    END TRY
    BEGIN CATCH
        IF CURSOR_STATUS('local', 'userCursor') >= 0
        BEGIN
            CLOSE userCursor;
            DEALLOCATE userCursor;
        END

        SELECT
            99 AS ErrorCode,
            'INTERNAL_ERROR' AS ErrorType,
            ERROR_MESSAGE() AS ErrorMessage;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[USP_SET_USER_PATH_ENROLLMENTS]    Script Date: 17-07-2026 14:53:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ============================================================
-- USP_SET_USER_PATH_ENROLLMENTS
-- Replaces all active enrollments for user with the provided JSON list.
-- @MAXACTIVEPATHS: max paths in payload; NULL = unlimited
-- ============================================================
CREATE   PROCEDURE [dbo].[USP_SET_USER_PATH_ENROLLMENTS]
(
    @USERID INT,
    @ENROLLMENTSJSON NVARCHAR(MAX),
    @MAXACTIVEPATHS INT = NULL
)
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        BEGIN TRANSACTION;

        -- Validate paths exist
        IF EXISTS (
            SELECT 1
            FROM OPENJSON(@ENROLLMENTSJSON)
            WITH (pathId INT '$.pathId') J
            LEFT JOIN LEARNING_PATH_MASTER LP ON LP.PATHID = J.pathId AND LP.ISACTIVE = 1
            WHERE LP.PATHID IS NULL
        )
        BEGIN
            SELECT
                1 AS ErrorCode,
                'INVALID_PATH_ID' AS ErrorType,
                'One or more path IDs are invalid or inactive' AS ErrorMessage;
            ROLLBACK;
            RETURN;
        END

        DECLARE @COUNT INT = (SELECT COUNT(*) FROM OPENJSON(@ENROLLMENTSJSON));
        IF @MAXACTIVEPATHS IS NOT NULL AND @COUNT > @MAXACTIVEPATHS
        BEGIN
            SELECT
                2 AS ErrorCode,
                'PATH_LIMIT_REACHED' AS ErrorType,
                N'Path enrollment limit reached for your plan. Upgrade to enroll in more paths.' AS ErrorMessage,
                @MAXACTIVEPATHS AS MaxPaths,
                @COUNT AS RequestedPathCount;
            ROLLBACK;
            RETURN;
        END

        -- Deactivate existing
        UPDATE USER_PATH_ENROLLMENT
        SET ISACTIVE = 0, UPDATEDDATE = SYSUTCDATETIME()
        WHERE USERID = @USERID AND ISACTIVE = 1;

        -- Insert or reactivate
        MERGE USER_PATH_ENROLLMENT AS T
        USING (
            SELECT
                @USERID AS USERID,
                CAST(JSON_VALUE(value, '$.pathId') AS INT) AS PATHID,
                CAST(JSON_VALUE(value, '$.priorityOrder') AS INT) AS PRIORITYORDER
            FROM OPENJSON(@ENROLLMENTSJSON)
        ) AS S
        ON T.USERID = S.USERID AND T.PATHID = S.PATHID
        WHEN MATCHED THEN
            UPDATE SET
                ISACTIVE = 1,
                PRIORITYORDER = S.PRIORITYORDER,
                UPDATEDDATE = SYSUTCDATETIME()
        WHEN NOT MATCHED THEN
            INSERT (USERID, PATHID, PRIORITYORDER)
            VALUES (S.USERID, S.PATHID, S.PRIORITYORDER);

        COMMIT TRANSACTION;

        SELECT
            0 AS ErrorCode,
            'SUCCESS' AS Status,
            @COUNT AS EnrolledCount;

    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0 ROLLBACK TRANSACTION;
        SELECT
            99 AS ErrorCode,
            'INTERNAL_ERROR' AS ErrorType,
            ERROR_MESSAGE() AS ErrorMessage;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[USP_SUBMIT_LEARNING_QUIZ]    Script Date: 17-07-2026 14:53:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ============================================================
-- USP_SUBMIT_LEARNING_QUIZ
-- Validates answers, records attempts, computes score,
-- updates Leitner box + mastery + nextReviewDate.
-- ============================================================
CREATE   PROCEDURE [dbo].[USP_SUBMIT_LEARNING_QUIZ]
(
    @USERID INT,
    @PLANID INT,
    @ANSWERSJSON NVARCHAR(MAX)
)
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        DECLARE @TOPICID INT;
        DECLARE @PLANOWNERID INT;
        DECLARE @PLANSTATUS NVARCHAR(20);
        DECLARE @PLANQUIZREQUIRED BIT;
        DECLARE @PLANDATE DATE;

        --================================================
        -- 1. Validate plan
        --================================================
        SELECT
            @PLANOWNERID = USERID,
            @TOPICID = TOPICID,
            @PLANSTATUS = STATUS,
            @PLANQUIZREQUIRED = QUIZREQUIRED,
            @PLANDATE = PLANDATE
        FROM DAILY_LEARNING_PLAN
        WHERE PLANID = @PLANID;

        IF @PLANOWNERID IS NULL
        BEGIN
            SELECT
                1 AS ErrorCode,
                'PLAN_NOT_FOUND' AS ErrorType,
                'Plan item not found' AS ErrorMessage;
            RETURN;
        END

        IF @PLANOWNERID != @USERID
        BEGIN
            SELECT
                2 AS ErrorCode,
                'UNAUTHORIZED' AS ErrorType,
                'This plan does not belong to the user' AS ErrorMessage;
            RETURN;
        END

        IF @PLANSTATUS = 'COMPLETED'
        BEGIN
            SELECT
                3 AS ErrorCode,
                'ALREADY_COMPLETED' AS ErrorType,
                'Quiz already submitted for this plan item' AS ErrorMessage;
            RETURN;
        END

        --================================================
        -- 2. Parse answers and validate
        --================================================
        DECLARE @ANSWERS TABLE (
            QUESTIONID INT,
            SELECTEDOPTION NVARCHAR(2)
        );

        INSERT INTO @ANSWERS (QUESTIONID, SELECTEDOPTION)
        SELECT
            CAST(JSON_VALUE(value, '$.questionId') AS INT),
            JSON_VALUE(value, '$.selectedOption')
        FROM OPENJSON(@ANSWERSJSON);

        IF NOT EXISTS (SELECT 1 FROM @ANSWERS)
        BEGIN
            SELECT
                4 AS ErrorCode,
                'NO_ANSWERS' AS ErrorType,
                'No valid answers provided' AS ErrorMessage;
            RETURN;
        END

        -- Validate all questions belong to this topic
        IF EXISTS (
            SELECT 1 FROM @ANSWERS A
            LEFT JOIN QUIZ_QUESTION_MASTER QQ ON A.QUESTIONID = QQ.QUESTIONID
            WHERE QQ.QUESTIONID IS NULL OR QQ.TOPICID != @TOPICID
        )
        BEGIN
            SELECT
                5 AS ErrorCode,
                'INVALID_QUESTIONS' AS ErrorType,
                'One or more questions do not belong to this topic' AS ErrorMessage;
            RETURN;
        END

        BEGIN TRANSACTION;

        --================================================
        -- 3. Insert quiz attempts and compute correctness
        --================================================
        DECLARE @RESULTS TABLE (
            QUESTIONID INT,
            SELECTEDOPTION NVARCHAR(2),
            CORRECTOPTION NVARCHAR(2),
            ISCORRECT BIT,
            EXPLANATION NVARCHAR(MAX)
        );

        INSERT INTO @RESULTS (QUESTIONID, SELECTEDOPTION, CORRECTOPTION, ISCORRECT, EXPLANATION)
        SELECT
            A.QUESTIONID,
            A.SELECTEDOPTION,
            QQ.CORRECTOPTION,
            CASE WHEN A.SELECTEDOPTION = QQ.CORRECTOPTION THEN 1 ELSE 0 END,
            QQ.EXPLANATION
        FROM @ANSWERS A
        INNER JOIN QUIZ_QUESTION_MASTER QQ ON A.QUESTIONID = QQ.QUESTIONID;

        INSERT INTO LEARNING_QUIZ_ATTEMPT
        (USERID, PLANID, QUESTIONID, SELECTEDOPTION, ISCORRECT)
        SELECT
            @USERID,
            @PLANID,
            R.QUESTIONID,
            R.SELECTEDOPTION,
            R.ISCORRECT
        FROM @RESULTS R;

        --================================================
        -- 4. Compute score
        --================================================
        DECLARE @TOTAL INT = (SELECT COUNT(*) FROM @RESULTS);
        DECLARE @CORRECT INT = (SELECT SUM(CAST(ISCORRECT AS INT)) FROM @RESULTS);
        DECLARE @SCOREPERCENT DECIMAL(5,2) = CASE WHEN @TOTAL > 0 THEN (@CORRECT * 100.0) / @TOTAL ELSE 0 END;
        DECLARE @PASSED BIT = CASE WHEN @SCOREPERCENT >= 70 THEN 1 ELSE 0 END;

        --================================================
        -- 5. Update plan item
        --================================================
        UPDATE DAILY_LEARNING_PLAN
        SET STATUS = 'COMPLETED',
            QUIZPASSED = @PASSED,
            QUIZSCOREPERCENT = @SCOREPERCENT,
            COMPLETEDAT = SYSUTCDATETIME(),
            UPDATEDDATE = SYSUTCDATETIME()
        WHERE PLANID = @PLANID;

        --================================================
        -- 6. Update topic progress (Leitner box logic)
        --================================================
        DECLARE @CURRENTBOX INT;
        DECLARE @CURRENTMASTERY NVARCHAR(20);
        DECLARE @CURRENTCONTENTINDEX INT;
        DECLARE @NEWBOX INT;
        DECLARE @NEWMASTERY NVARCHAR(20);
        DECLARE @NEWREVIEWDATE DATE;

        -- Ensure progress row exists
        IF NOT EXISTS (
            SELECT 1 FROM USER_TOPIC_PROGRESS
            WHERE USERID = @USERID AND TOPICID = @TOPICID
        )
        BEGIN
            INSERT INTO USER_TOPIC_PROGRESS (USERID, TOPICID)
            VALUES (@USERID, @TOPICID);
        END

        SELECT
            @CURRENTBOX = LEITNERBOX,
            @CURRENTMASTERY = MASTERYLEVEL,
            @CURRENTCONTENTINDEX = CONTENTINDEX
        FROM USER_TOPIC_PROGRESS
        WHERE USERID = @USERID AND TOPICID = @TOPICID;

        -- Leitner box transitions:
        --   >= 80%: box up (max 4 = mastered)
        --   50-79%: stay in same box
        --   < 50% : box down (min 1)
        IF @SCOREPERCENT >= 80
            SET @NEWBOX = CASE WHEN @CURRENTBOX < 4 THEN @CURRENTBOX + 1 ELSE 4 END;
        ELSE IF @SCOREPERCENT >= 50
            SET @NEWBOX = @CURRENTBOX;
        ELSE
            SET @NEWBOX = CASE WHEN @CURRENTBOX > 1 THEN @CURRENTBOX - 1 ELSE 1 END;

        -- Mastery from box
        SET @NEWMASTERY = CASE @NEWBOX
            WHEN 1 THEN 'BEGINNER'
            WHEN 2 THEN 'FAMILIAR'
            WHEN 3 THEN 'PROFICIENT'
            WHEN 4 THEN 'MASTERED'
            ELSE 'BEGINNER'
        END;

        -- Review interval from box (Leitner spacing)
        --   Box 1: next day, Box 2: 3 days, Box 3: 7 days, Box 4: 14 days
        SET @NEWREVIEWDATE = DATEADD(DAY,
            CASE @NEWBOX
                WHEN 1 THEN 1
                WHEN 2 THEN 3
                WHEN 3 THEN 7
                WHEN 4 THEN 14
                ELSE 1
            END,
            @PLANDATE
        );

        -- Advance content index if passed quiz and was on a new content item
        DECLARE @NEWCONTENTINDEX INT = @CURRENTCONTENTINDEX;
        IF @PASSED = 1
        BEGIN
            DECLARE @PLANCONTENTORDER INT;
            SELECT @PLANCONTENTORDER = CI.DISPLAYORDER
            FROM DAILY_LEARNING_PLAN DLP
            INNER JOIN CONTENT_ITEM CI ON DLP.CONTENTID = CI.CONTENTID
            WHERE DLP.USERID = @USERID
              AND DLP.PLANDATE = (SELECT PLANDATE FROM DAILY_LEARNING_PLAN WHERE PLANID = @PLANID)
              AND DLP.TOPICID = @TOPICID
              AND DLP.PLANSLOT = 'PRACTICE';

            IF @PLANCONTENTORDER IS NOT NULL AND @PLANCONTENTORDER > @CURRENTCONTENTINDEX
                SET @NEWCONTENTINDEX = @PLANCONTENTORDER;
        END

        UPDATE USER_TOPIC_PROGRESS
        SET LEITNERBOX = @NEWBOX,
            LASTQUIZSCORE = @SCOREPERCENT,
            ATTEMPTCOUNT = ATTEMPTCOUNT + 1,
            CONTENTINDEX = @NEWCONTENTINDEX,
            MASTERYLEVEL = @NEWMASTERY,
            NEXTREVIEWDATE = @NEWREVIEWDATE,
            LASTATTEMPTEDAT = SYSUTCDATETIME(),
            UPDATEDDATE = SYSUTCDATETIME()
        WHERE USERID = @USERID AND TOPICID = @TOPICID;

        COMMIT TRANSACTION;

        --================================================
        -- 7. Return results
        --================================================

        -- Score summary
        SELECT
            @SCOREPERCENT AS ScorePercent,
            @TOTAL AS TotalQuestions,
            @CORRECT AS CorrectCount,
            @PASSED AS Passed;

        -- Per-question results (with correct answers + explanations)
        SELECT
            R.QUESTIONID,
            R.SELECTEDOPTION,
            R.CORRECTOPTION,
            R.ISCORRECT,
            R.EXPLANATION
        FROM @RESULTS R
        ORDER BY R.QUESTIONID;

        -- Topic progress update
        SELECT
            @NEWBOX AS NewLeitnerBox,
            @NEWMASTERY AS NewMasteryLevel,
            @NEWREVIEWDATE AS NextReviewDate;

    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0 ROLLBACK TRANSACTION;

        SELECT
            99 AS ErrorCode,
            'INTERNAL_ERROR' AS ErrorType,
            ERROR_MESSAGE() AS ErrorMessage,
            ERROR_NUMBER() AS SqlErrorNumber,
            ERROR_LINE() AS SqlErrorLine;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[USP_UPDATE_DAILY_PLAN_STATUS]    Script Date: 17-07-2026 14:53:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ============================================================
-- USP_UPDATE_DAILY_PLAN_STATUS
-- ============================================================
CREATE   PROCEDURE [dbo].[USP_UPDATE_DAILY_PLAN_STATUS]
(
    @USERID INT,
    @PLANID INT,
    @NEWSTATUS NVARCHAR(20)
)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @CURRENTSTATUS NVARCHAR(20);
    DECLARE @PLANOWNERID INT;

    SELECT
        @PLANOWNERID = USERID,
        @CURRENTSTATUS = STATUS
    FROM DAILY_LEARNING_PLAN
    WHERE PLANID = @PLANID;

    IF @PLANOWNERID IS NULL
    BEGIN
        SELECT
            1 AS ErrorCode,
            'PLAN_NOT_FOUND' AS ErrorType,
            'Plan item not found' AS ErrorMessage;
        RETURN;
    END

    IF @PLANOWNERID != @USERID
    BEGIN
        SELECT
            2 AS ErrorCode,
            'UNAUTHORIZED' AS ErrorType,
            'This plan does not belong to the user' AS ErrorMessage;
        RETURN;
    END

    IF @CURRENTSTATUS = 'COMPLETED'
    BEGIN
        SELECT
            3 AS ErrorCode,
            'ALREADY_COMPLETED' AS ErrorType,
            'This plan item is already completed' AS ErrorMessage;
        RETURN;
    END

    -- Validate transition
    IF @CURRENTSTATUS = 'PENDING' AND @NEWSTATUS NOT IN ('IN_PROGRESS', 'SKIPPED')
    BEGIN
        SELECT
            4 AS ErrorCode,
            'INVALID_TRANSITION' AS ErrorType,
            'From PENDING, status can only move to IN_PROGRESS or SKIPPED' AS ErrorMessage;
        RETURN;
    END

    IF @CURRENTSTATUS = 'IN_PROGRESS' AND @NEWSTATUS NOT IN ('COMPLETED', 'SKIPPED')
    BEGIN
        SELECT
            4 AS ErrorCode,
            'INVALID_TRANSITION' AS ErrorType,
            'From IN_PROGRESS, status can only move to COMPLETED or SKIPPED' AS ErrorMessage;
        RETURN;
    END

    UPDATE DAILY_LEARNING_PLAN
    SET STATUS = @NEWSTATUS,
        COMPLETEDAT = CASE WHEN @NEWSTATUS = 'COMPLETED' THEN SYSUTCDATETIME() ELSE NULL END,
        SKIPPEDAT = CASE WHEN @NEWSTATUS = 'SKIPPED' THEN SYSUTCDATETIME() ELSE NULL END,
        UPDATEDDATE = SYSUTCDATETIME()
    WHERE PLANID = @PLANID;

    SELECT
        0 AS ErrorCode,
        'SUCCESS' AS Status;
END
GO
/****** Object:  StoredProcedure [dbo].[USP_UPSERT_USER_LEARNING_PROFILE]    Script Date: 17-07-2026 14:53:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ============================================================
-- USP_UPSERT_USER_LEARNING_PROFILE
-- ============================================================
CREATE   PROCEDURE [dbo].[USP_UPSERT_USER_LEARNING_PROFILE]
(
    @USERID INT,
    @GUIDEDENABLED BIT,
    @SKILLLEVEL NVARCHAR(20),
    @DAILYMINUTES INT,
    @LEARNINGGOAL NVARCHAR(30)
)
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        IF EXISTS (SELECT 1 FROM USER_LEARNING_PROFILE WHERE USERID = @USERID)
        BEGIN
            UPDATE USER_LEARNING_PROFILE
            SET GUIDEDENABLED = @GUIDEDENABLED,
                SKILLLEVEL = @SKILLLEVEL,
                DAILYMINUTES = @DAILYMINUTES,
                LEARNINGGOAL = @LEARNINGGOAL,
                UPDATEDDATE = SYSUTCDATETIME()
            WHERE USERID = @USERID;

            SELECT
                0 AS ErrorCode,
                'UPDATED' AS Action,
                'Profile updated' AS Message;
        END
        ELSE
        BEGIN
            INSERT INTO USER_LEARNING_PROFILE
            (USERID, GUIDEDENABLED, SKILLLEVEL, DAILYMINUTES, LEARNINGGOAL)
            VALUES
            (@USERID, @GUIDEDENABLED, @SKILLLEVEL, @DAILYMINUTES, @LEARNINGGOAL);

            SELECT
                0 AS ErrorCode,
                'CREATED' AS Action,
                'Profile created' AS Message;
        END
    END TRY
    BEGIN CATCH
        SELECT
            99 AS ErrorCode,
            'INTERNAL_ERROR' AS ErrorType,
            ERROR_MESSAGE() AS ErrorMessage;
    END CATCH
END
GO
