USE [LEARNING_SERVICE]
GO
/****** Object:  Table [dbo].[CONTENT_ITEM]    Script Date: 17-07-2026 14:52:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CONTENT_ITEM](
	[CONTENTID] [int] IDENTITY(1,1) NOT NULL,
	[TOPICID] [int] NOT NULL,
	[CONTENTTYPE] [nvarchar](20) NOT NULL,
	[TITLE] [nvarchar](200) NOT NULL,
	[SUMMARY] [nvarchar](1000) NULL,
	[EXTERNALURL] [nvarchar](1000) NULL,
	[PLATFORMCODE] [nvarchar](50) NULL,
	[DIFFICULTY] [nvarchar](20) NULL,
	[DISPLAYORDER] [int] NOT NULL,
	[ESTIMATEDMINUTES] [int] NOT NULL,
	[ISACTIVE] [bit] NOT NULL,
	[CREATEDDATE] [datetime2](7) NOT NULL,
	[UPDATEDDATE] [datetime2](7) NULL,
 CONSTRAINT [PK_CONTENT_ITEM] PRIMARY KEY CLUSTERED 
(
	[CONTENTID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DAILY_LEARNING_PLAN]    Script Date: 17-07-2026 14:52:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DAILY_LEARNING_PLAN](
	[PLANID] [int] IDENTITY(1,1) NOT NULL,
	[USERID] [int] NOT NULL,
	[PLANDATE] [date] NOT NULL,
	[PLANTYPE] [nvarchar](20) NOT NULL,
	[PLANSLOT] [nvarchar](20) NOT NULL,
	[TOPICID] [int] NOT NULL,
	[CONTENTID] [int] NULL,
	[STATUS] [nvarchar](20) NOT NULL,
	[QUIZREQUIRED] [bit] NOT NULL,
	[QUIZPASSED] [bit] NULL,
	[QUIZSCOREPERCENT] [decimal](5, 2) NULL,
	[COMPLETEDAT] [datetime2](7) NULL,
	[SKIPPEDAT] [datetime2](7) NULL,
	[DAYID] [int] NULL,
	[METADATAJSON] [nvarchar](max) NULL,
	[CREATEDDATE] [datetime2](7) NOT NULL,
	[UPDATEDDATE] [datetime2](7) NULL,
 CONSTRAINT [PK_DAILY_LEARNING_PLAN] PRIMARY KEY CLUSTERED 
(
	[PLANID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LEARNING_PATH_MASTER]    Script Date: 17-07-2026 14:52:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LEARNING_PATH_MASTER](
	[PATHID] [int] IDENTITY(1,1) NOT NULL,
	[PATHKEY] [nvarchar](50) NOT NULL,
	[PATHNAME] [nvarchar](100) NOT NULL,
	[DESCRIPTION] [nvarchar](1000) NULL,
	[PATHEMOJI] [nvarchar](10) NULL,
	[DISPLAYORDER] [int] NOT NULL,
	[ISACTIVE] [bit] NOT NULL,
	[CREATEDDATE] [datetime2](7) NOT NULL,
	[UPDATEDDATE] [datetime2](7) NULL,
 CONSTRAINT [PK_LEARNING_PATH_MASTER] PRIMARY KEY CLUSTERED 
(
	[PATHID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_LEARNING_PATH_DISPLAYORDER] UNIQUE NONCLUSTERED 
(
	[DISPLAYORDER] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_LEARNING_PATH_KEY] UNIQUE NONCLUSTERED 
(
	[PATHKEY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LEARNING_QUIZ_ATTEMPT]    Script Date: 17-07-2026 14:52:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LEARNING_QUIZ_ATTEMPT](
	[ATTEMPTID] [bigint] IDENTITY(1,1) NOT NULL,
	[USERID] [int] NOT NULL,
	[PLANID] [int] NOT NULL,
	[QUESTIONID] [int] NOT NULL,
	[SELECTEDOPTION] [nchar](1) NOT NULL,
	[ISCORRECT] [bit] NOT NULL,
	[ATTEMPTEDAT] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_LEARNING_QUIZ_ATTEMPT] PRIMARY KEY CLUSTERED 
(
	[ATTEMPTID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QUIZ_QUESTION_MASTER]    Script Date: 17-07-2026 14:52:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QUIZ_QUESTION_MASTER](
	[QUESTIONID] [int] IDENTITY(1,1) NOT NULL,
	[TOPICID] [int] NOT NULL,
	[CONTENTID] [int] NULL,
	[QUESTIONTEXT] [nvarchar](1000) NOT NULL,
	[OPTIONA] [nvarchar](500) NOT NULL,
	[OPTIONB] [nvarchar](500) NOT NULL,
	[OPTIONC] [nvarchar](500) NOT NULL,
	[OPTIOND] [nvarchar](500) NULL,
	[CORRECTOPTION] [nchar](1) NOT NULL,
	[EXPLANATION] [nvarchar](2000) NULL,
	[DIFFICULTY] [nvarchar](20) NOT NULL,
	[DISPLAYORDER] [int] NOT NULL,
	[ISACTIVE] [bit] NOT NULL,
	[CREATEDDATE] [datetime2](7) NOT NULL,
	[UPDATEDDATE] [datetime2](7) NULL,
 CONSTRAINT [PK_QUIZ_QUESTION_MASTER] PRIMARY KEY CLUSTERED 
(
	[QUESTIONID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TODO_LIST]    Script Date: 17-07-2026 14:52:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TODO_LIST](
	[LISTID] [int] IDENTITY(1,1) NOT NULL,
	[USERID] [int] NOT NULL,
	[NAME] [nvarchar](200) NOT NULL,
	[COLOR] [nvarchar](32) NULL,
	[SORTORDER] [int] NOT NULL,
	[ISARCHIVED] [bit] NOT NULL,
	[ISDEFAULTINBOX] [bit] NOT NULL,
	[CREATEDDATE] [datetime2](7) NOT NULL,
	[UPDATEDDATE] [datetime2](7) NULL,
 CONSTRAINT [PK_TODO_LIST] PRIMARY KEY CLUSTERED 
(
	[LISTID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TODO_TASK]    Script Date: 17-07-2026 14:52:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TODO_TASK](
	[TASKID] [int] IDENTITY(1,1) NOT NULL,
	[USERID] [int] NOT NULL,
	[LISTID] [int] NOT NULL,
	[TITLE] [nvarchar](500) NOT NULL,
	[NOTES] [nvarchar](max) NULL,
	[PRIORITY] [nvarchar](16) NOT NULL,
	[DUEDATUTC] [datetime2](7) NULL,
	[ISDATEDATEONLY] [bit] NOT NULL,
	[REMINDERATUTC] [datetime2](7) NULL,
	[REMINDERSENTAT] [datetime2](7) NULL,
	[STATUS] [nvarchar](16) NOT NULL,
	[COMPLETEDAT] [datetime2](7) NULL,
	[CREATEDDATE] [datetime2](7) NOT NULL,
	[UPDATEDDATE] [datetime2](7) NULL,
 CONSTRAINT [PK_TODO_TASK] PRIMARY KEY CLUSTERED 
(
	[TASKID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TOPIC_MASTER]    Script Date: 17-07-2026 14:52:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TOPIC_MASTER](
	[TOPICID] [int] IDENTITY(1,1) NOT NULL,
	[PATHID] [int] NOT NULL,
	[TOPICKEY] [nvarchar](80) NOT NULL,
	[TOPICNAME] [nvarchar](150) NOT NULL,
	[DESCRIPTION] [nvarchar](2000) NULL,
	[DIFFICULTYTIER] [nvarchar](20) NOT NULL,
	[DISPLAYORDER] [int] NOT NULL,
	[PREREQUISITETOPICID] [int] NULL,
	[ESTIMATEDMINUTES] [int] NOT NULL,
	[THEORYMARKDOWN] [nvarchar](max) NULL,
	[ISACTIVE] [bit] NOT NULL,
	[CREATEDDATE] [datetime2](7) NOT NULL,
	[UPDATEDDATE] [datetime2](7) NULL,
 CONSTRAINT [PK_TOPIC_MASTER] PRIMARY KEY CLUSTERED 
(
	[TOPICID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_TOPIC_PATH_TOPICKEY] UNIQUE NONCLUSTERED 
(
	[PATHID] ASC,
	[TOPICKEY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USER_LEARNING_PROFILE]    Script Date: 17-07-2026 14:52:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USER_LEARNING_PROFILE](
	[PROFILEID] [int] IDENTITY(1,1) NOT NULL,
	[USERID] [int] NOT NULL,
	[GUIDEDENABLED] [bit] NOT NULL,
	[SKILLLEVEL] [nvarchar](20) NOT NULL,
	[DAILYMINUTES] [int] NOT NULL,
	[LEARNINGGOAL] [nvarchar](30) NOT NULL,
	[CREATEDDATE] [datetime2](7) NOT NULL,
	[UPDATEDDATE] [datetime2](7) NULL,
 CONSTRAINT [PK_USER_LEARNING_PROFILE] PRIMARY KEY CLUSTERED 
(
	[PROFILEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_USER_LEARNING_PROFILE_USER] UNIQUE NONCLUSTERED 
(
	[USERID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USER_PATH_ENROLLMENT]    Script Date: 17-07-2026 14:52:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USER_PATH_ENROLLMENT](
	[ENROLLMENTID] [int] IDENTITY(1,1) NOT NULL,
	[USERID] [int] NOT NULL,
	[PATHID] [int] NOT NULL,
	[ISACTIVE] [bit] NOT NULL,
	[PRIORITYORDER] [int] NOT NULL,
	[ENROLLEDDATE] [datetime2](7) NOT NULL,
	[UPDATEDDATE] [datetime2](7) NULL,
 CONSTRAINT [PK_USER_PATH_ENROLLMENT] PRIMARY KEY CLUSTERED 
(
	[ENROLLMENTID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_USER_PATH] UNIQUE NONCLUSTERED 
(
	[USERID] ASC,
	[PATHID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USER_TOPIC_PROGRESS]    Script Date: 17-07-2026 14:52:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USER_TOPIC_PROGRESS](
	[PROGRESSID] [int] IDENTITY(1,1) NOT NULL,
	[USERID] [int] NOT NULL,
	[TOPICID] [int] NOT NULL,
	[LEITNERBOX] [tinyint] NOT NULL,
	[LASTQUIZSCORE] [decimal](5, 2) NULL,
	[ATTEMPTCOUNT] [int] NOT NULL,
	[CONTENTINDEX] [int] NOT NULL,
	[MASTERYLEVEL] [nvarchar](20) NOT NULL,
	[NEXTREVIEWDATE] [date] NULL,
	[LASTATTEMPTEDAT] [datetime2](7) NULL,
	[CREATEDDATE] [datetime2](7) NOT NULL,
	[UPDATEDDATE] [datetime2](7) NULL,
 CONSTRAINT [PK_USER_TOPIC_PROGRESS] PRIMARY KEY CLUSTERED 
(
	[PROGRESSID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_UTP_USER_TOPIC] UNIQUE NONCLUSTERED 
(
	[USERID] ASC,
	[TOPICID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CONTENT_ITEM] ADD  CONSTRAINT [DF_CONTENT_ESTIMATEDMINUTES]  DEFAULT ((15)) FOR [ESTIMATEDMINUTES]
GO
ALTER TABLE [dbo].[CONTENT_ITEM] ADD  CONSTRAINT [DF_CONTENT_ISACTIVE]  DEFAULT ((1)) FOR [ISACTIVE]
GO
ALTER TABLE [dbo].[CONTENT_ITEM] ADD  CONSTRAINT [DF_CONTENT_CREATED]  DEFAULT (sysutcdatetime()) FOR [CREATEDDATE]
GO
ALTER TABLE [dbo].[DAILY_LEARNING_PLAN] ADD  CONSTRAINT [DF_DLP_STATUS]  DEFAULT (N'PENDING') FOR [STATUS]
GO
ALTER TABLE [dbo].[DAILY_LEARNING_PLAN] ADD  CONSTRAINT [DF_DLP_QUIZREQ]  DEFAULT ((1)) FOR [QUIZREQUIRED]
GO
ALTER TABLE [dbo].[DAILY_LEARNING_PLAN] ADD  CONSTRAINT [DF_DLP_CREATED]  DEFAULT (sysutcdatetime()) FOR [CREATEDDATE]
GO
ALTER TABLE [dbo].[LEARNING_PATH_MASTER] ADD  CONSTRAINT [DF_LEARNING_PATH_ISACTIVE]  DEFAULT ((1)) FOR [ISACTIVE]
GO
ALTER TABLE [dbo].[LEARNING_PATH_MASTER] ADD  CONSTRAINT [DF_LEARNING_PATH_CREATED]  DEFAULT (sysutcdatetime()) FOR [CREATEDDATE]
GO
ALTER TABLE [dbo].[LEARNING_QUIZ_ATTEMPT] ADD  CONSTRAINT [DF_LQA_ATTEMPTED]  DEFAULT (sysutcdatetime()) FOR [ATTEMPTEDAT]
GO
ALTER TABLE [dbo].[QUIZ_QUESTION_MASTER] ADD  CONSTRAINT [DF_QUIZ_ISACTIVE]  DEFAULT ((1)) FOR [ISACTIVE]
GO
ALTER TABLE [dbo].[QUIZ_QUESTION_MASTER] ADD  CONSTRAINT [DF_QUIZ_CREATED]  DEFAULT (sysutcdatetime()) FOR [CREATEDDATE]
GO
ALTER TABLE [dbo].[TODO_LIST] ADD  CONSTRAINT [DF_TODO_LIST_SORT]  DEFAULT ((0)) FOR [SORTORDER]
GO
ALTER TABLE [dbo].[TODO_LIST] ADD  CONSTRAINT [DF_TODO_LIST_ARCHIVED]  DEFAULT ((0)) FOR [ISARCHIVED]
GO
ALTER TABLE [dbo].[TODO_LIST] ADD  CONSTRAINT [DF_TODO_LIST_INBOX]  DEFAULT ((0)) FOR [ISDEFAULTINBOX]
GO
ALTER TABLE [dbo].[TODO_LIST] ADD  CONSTRAINT [DF_TODO_LIST_CREATED]  DEFAULT (sysutcdatetime()) FOR [CREATEDDATE]
GO
ALTER TABLE [dbo].[TODO_TASK] ADD  CONSTRAINT [DF_TODO_TASK_PRIORITY]  DEFAULT (N'MEDIUM') FOR [PRIORITY]
GO
ALTER TABLE [dbo].[TODO_TASK] ADD  CONSTRAINT [DF_TODO_TASK_DATEONLY]  DEFAULT ((0)) FOR [ISDATEDATEONLY]
GO
ALTER TABLE [dbo].[TODO_TASK] ADD  CONSTRAINT [DF_TODO_TASK_STATUS]  DEFAULT (N'OPEN') FOR [STATUS]
GO
ALTER TABLE [dbo].[TODO_TASK] ADD  CONSTRAINT [DF_TODO_TASK_CREATED]  DEFAULT (sysutcdatetime()) FOR [CREATEDDATE]
GO
ALTER TABLE [dbo].[TOPIC_MASTER] ADD  CONSTRAINT [DF_TOPIC_ESTIMATEDMINUTES]  DEFAULT ((30)) FOR [ESTIMATEDMINUTES]
GO
ALTER TABLE [dbo].[TOPIC_MASTER] ADD  CONSTRAINT [DF_TOPIC_ISACTIVE]  DEFAULT ((1)) FOR [ISACTIVE]
GO
ALTER TABLE [dbo].[TOPIC_MASTER] ADD  CONSTRAINT [DF_TOPIC_CREATED]  DEFAULT (sysutcdatetime()) FOR [CREATEDDATE]
GO
ALTER TABLE [dbo].[USER_LEARNING_PROFILE] ADD  CONSTRAINT [DF_ULP_GUIDED]  DEFAULT ((0)) FOR [GUIDEDENABLED]
GO
ALTER TABLE [dbo].[USER_LEARNING_PROFILE] ADD  CONSTRAINT [DF_ULP_CREATED]  DEFAULT (sysutcdatetime()) FOR [CREATEDDATE]
GO
ALTER TABLE [dbo].[USER_PATH_ENROLLMENT] ADD  CONSTRAINT [DF_UPE_ISACTIVE]  DEFAULT ((1)) FOR [ISACTIVE]
GO
ALTER TABLE [dbo].[USER_PATH_ENROLLMENT] ADD  CONSTRAINT [DF_UPE_ENROLLED]  DEFAULT (sysutcdatetime()) FOR [ENROLLEDDATE]
GO
ALTER TABLE [dbo].[USER_TOPIC_PROGRESS] ADD  CONSTRAINT [DF_UTP_BOX]  DEFAULT ((1)) FOR [LEITNERBOX]
GO
ALTER TABLE [dbo].[USER_TOPIC_PROGRESS] ADD  CONSTRAINT [DF_UTP_ATTEMPTS]  DEFAULT ((0)) FOR [ATTEMPTCOUNT]
GO
ALTER TABLE [dbo].[USER_TOPIC_PROGRESS] ADD  CONSTRAINT [DF_UTP_CONTENTINDEX]  DEFAULT ((0)) FOR [CONTENTINDEX]
GO
ALTER TABLE [dbo].[USER_TOPIC_PROGRESS] ADD  CONSTRAINT [DF_UTP_MASTERY]  DEFAULT (N'NOT_STARTED') FOR [MASTERYLEVEL]
GO
ALTER TABLE [dbo].[USER_TOPIC_PROGRESS] ADD  CONSTRAINT [DF_UTP_CREATED]  DEFAULT (sysutcdatetime()) FOR [CREATEDDATE]
GO
ALTER TABLE [dbo].[CONTENT_ITEM]  WITH CHECK ADD  CONSTRAINT [FK_CONTENT_TOPIC] FOREIGN KEY([TOPICID])
REFERENCES [dbo].[TOPIC_MASTER] ([TOPICID])
GO
ALTER TABLE [dbo].[CONTENT_ITEM] CHECK CONSTRAINT [FK_CONTENT_TOPIC]
GO
ALTER TABLE [dbo].[DAILY_LEARNING_PLAN]  WITH CHECK ADD  CONSTRAINT [FK_DLP_CONTENT] FOREIGN KEY([CONTENTID])
REFERENCES [dbo].[CONTENT_ITEM] ([CONTENTID])
GO
ALTER TABLE [dbo].[DAILY_LEARNING_PLAN] CHECK CONSTRAINT [FK_DLP_CONTENT]
GO
ALTER TABLE [dbo].[DAILY_LEARNING_PLAN]  WITH CHECK ADD  CONSTRAINT [FK_DLP_TOPIC] FOREIGN KEY([TOPICID])
REFERENCES [dbo].[TOPIC_MASTER] ([TOPICID])
GO
ALTER TABLE [dbo].[DAILY_LEARNING_PLAN] CHECK CONSTRAINT [FK_DLP_TOPIC]
GO
ALTER TABLE [dbo].[LEARNING_QUIZ_ATTEMPT]  WITH CHECK ADD  CONSTRAINT [FK_LQA_PLAN] FOREIGN KEY([PLANID])
REFERENCES [dbo].[DAILY_LEARNING_PLAN] ([PLANID])
GO
ALTER TABLE [dbo].[LEARNING_QUIZ_ATTEMPT] CHECK CONSTRAINT [FK_LQA_PLAN]
GO
ALTER TABLE [dbo].[LEARNING_QUIZ_ATTEMPT]  WITH CHECK ADD  CONSTRAINT [FK_LQA_QUESTION] FOREIGN KEY([QUESTIONID])
REFERENCES [dbo].[QUIZ_QUESTION_MASTER] ([QUESTIONID])
GO
ALTER TABLE [dbo].[LEARNING_QUIZ_ATTEMPT] CHECK CONSTRAINT [FK_LQA_QUESTION]
GO
ALTER TABLE [dbo].[QUIZ_QUESTION_MASTER]  WITH CHECK ADD  CONSTRAINT [FK_QUIZ_CONTENT] FOREIGN KEY([CONTENTID])
REFERENCES [dbo].[CONTENT_ITEM] ([CONTENTID])
GO
ALTER TABLE [dbo].[QUIZ_QUESTION_MASTER] CHECK CONSTRAINT [FK_QUIZ_CONTENT]
GO
ALTER TABLE [dbo].[QUIZ_QUESTION_MASTER]  WITH CHECK ADD  CONSTRAINT [FK_QUIZ_TOPIC] FOREIGN KEY([TOPICID])
REFERENCES [dbo].[TOPIC_MASTER] ([TOPICID])
GO
ALTER TABLE [dbo].[QUIZ_QUESTION_MASTER] CHECK CONSTRAINT [FK_QUIZ_TOPIC]
GO
ALTER TABLE [dbo].[TODO_TASK]  WITH CHECK ADD  CONSTRAINT [FK_TODO_TASK_LIST] FOREIGN KEY([LISTID])
REFERENCES [dbo].[TODO_LIST] ([LISTID])
GO
ALTER TABLE [dbo].[TODO_TASK] CHECK CONSTRAINT [FK_TODO_TASK_LIST]
GO
ALTER TABLE [dbo].[TOPIC_MASTER]  WITH CHECK ADD  CONSTRAINT [FK_TOPIC_PATH] FOREIGN KEY([PATHID])
REFERENCES [dbo].[LEARNING_PATH_MASTER] ([PATHID])
GO
ALTER TABLE [dbo].[TOPIC_MASTER] CHECK CONSTRAINT [FK_TOPIC_PATH]
GO
ALTER TABLE [dbo].[TOPIC_MASTER]  WITH CHECK ADD  CONSTRAINT [FK_TOPIC_PREREQ] FOREIGN KEY([PREREQUISITETOPICID])
REFERENCES [dbo].[TOPIC_MASTER] ([TOPICID])
GO
ALTER TABLE [dbo].[TOPIC_MASTER] CHECK CONSTRAINT [FK_TOPIC_PREREQ]
GO
ALTER TABLE [dbo].[USER_PATH_ENROLLMENT]  WITH CHECK ADD  CONSTRAINT [FK_UPE_PATH] FOREIGN KEY([PATHID])
REFERENCES [dbo].[LEARNING_PATH_MASTER] ([PATHID])
GO
ALTER TABLE [dbo].[USER_PATH_ENROLLMENT] CHECK CONSTRAINT [FK_UPE_PATH]
GO
ALTER TABLE [dbo].[USER_TOPIC_PROGRESS]  WITH CHECK ADD  CONSTRAINT [FK_UTP_TOPIC] FOREIGN KEY([TOPICID])
REFERENCES [dbo].[TOPIC_MASTER] ([TOPICID])
GO
ALTER TABLE [dbo].[USER_TOPIC_PROGRESS] CHECK CONSTRAINT [FK_UTP_TOPIC]
GO
ALTER TABLE [dbo].[CONTENT_ITEM]  WITH CHECK ADD  CONSTRAINT [CHK_CONTENT_TYPE] CHECK  (([CONTENTTYPE]=N'SUPPLEMENT' OR [CONTENTTYPE]=N'THEORY' OR [CONTENTTYPE]=N'PROJECT' OR [CONTENTTYPE]=N'VIDEO' OR [CONTENTTYPE]=N'ARTICLE' OR [CONTENTTYPE]=N'PROBLEM'))
GO
ALTER TABLE [dbo].[CONTENT_ITEM] CHECK CONSTRAINT [CHK_CONTENT_TYPE]
GO
ALTER TABLE [dbo].[DAILY_LEARNING_PLAN]  WITH CHECK ADD  CONSTRAINT [CHK_DLP_PLANTYPE] CHECK  (([PLANTYPE]=N'RECAP' OR [PLANTYPE]=N'REINFORCEMENT' OR [PLANTYPE]=N'REVIEW' OR [PLANTYPE]=N'NEW'))
GO
ALTER TABLE [dbo].[DAILY_LEARNING_PLAN] CHECK CONSTRAINT [CHK_DLP_PLANTYPE]
GO
ALTER TABLE [dbo].[DAILY_LEARNING_PLAN]  WITH CHECK ADD  CONSTRAINT [CHK_DLP_SLOT] CHECK  (([PLANSLOT]=N'RECAP' OR [PLANSLOT]=N'QUIZ' OR [PLANSLOT]=N'PRACTICE' OR [PLANSLOT]=N'THEORY' OR [PLANSLOT]=N'REVIEW'))
GO
ALTER TABLE [dbo].[DAILY_LEARNING_PLAN] CHECK CONSTRAINT [CHK_DLP_SLOT]
GO
ALTER TABLE [dbo].[DAILY_LEARNING_PLAN]  WITH CHECK ADD  CONSTRAINT [CHK_DLP_STATUS] CHECK  (([STATUS]=N'SKIPPED' OR [STATUS]=N'COMPLETED' OR [STATUS]=N'IN_PROGRESS' OR [STATUS]=N'PENDING'))
GO
ALTER TABLE [dbo].[DAILY_LEARNING_PLAN] CHECK CONSTRAINT [CHK_DLP_STATUS]
GO
ALTER TABLE [dbo].[LEARNING_QUIZ_ATTEMPT]  WITH CHECK ADD  CONSTRAINT [CHK_LQA_OPTION] CHECK  (([SELECTEDOPTION]=N'D' OR [SELECTEDOPTION]=N'C' OR [SELECTEDOPTION]=N'B' OR [SELECTEDOPTION]=N'A'))
GO
ALTER TABLE [dbo].[LEARNING_QUIZ_ATTEMPT] CHECK CONSTRAINT [CHK_LQA_OPTION]
GO
ALTER TABLE [dbo].[QUIZ_QUESTION_MASTER]  WITH CHECK ADD  CONSTRAINT [CHK_QUIZ_CORRECT] CHECK  (([CORRECTOPTION]=N'D' OR [CORRECTOPTION]=N'C' OR [CORRECTOPTION]=N'B' OR [CORRECTOPTION]=N'A'))
GO
ALTER TABLE [dbo].[QUIZ_QUESTION_MASTER] CHECK CONSTRAINT [CHK_QUIZ_CORRECT]
GO
ALTER TABLE [dbo].[QUIZ_QUESTION_MASTER]  WITH CHECK ADD  CONSTRAINT [CHK_QUIZ_DIFFICULTY] CHECK  (([DIFFICULTY]=N'HARD' OR [DIFFICULTY]=N'MEDIUM' OR [DIFFICULTY]=N'EASY'))
GO
ALTER TABLE [dbo].[QUIZ_QUESTION_MASTER] CHECK CONSTRAINT [CHK_QUIZ_DIFFICULTY]
GO
ALTER TABLE [dbo].[TODO_TASK]  WITH CHECK ADD  CONSTRAINT [CHK_TODO_TASK_PRIORITY] CHECK  (([PRIORITY]=N'URGENT' OR [PRIORITY]=N'HIGH' OR [PRIORITY]=N'MEDIUM' OR [PRIORITY]=N'LOW'))
GO
ALTER TABLE [dbo].[TODO_TASK] CHECK CONSTRAINT [CHK_TODO_TASK_PRIORITY]
GO
ALTER TABLE [dbo].[TODO_TASK]  WITH CHECK ADD  CONSTRAINT [CHK_TODO_TASK_STATUS] CHECK  (([STATUS]=N'CANCELLED' OR [STATUS]=N'COMPLETED' OR [STATUS]=N'OPEN'))
GO
ALTER TABLE [dbo].[TODO_TASK] CHECK CONSTRAINT [CHK_TODO_TASK_STATUS]
GO
ALTER TABLE [dbo].[TOPIC_MASTER]  WITH CHECK ADD  CONSTRAINT [CHK_TOPIC_DIFFICULTY] CHECK  (([DIFFICULTYTIER]=N'ADVANCED' OR [DIFFICULTYTIER]=N'INTERMEDIATE' OR [DIFFICULTYTIER]=N'BEGINNER'))
GO
ALTER TABLE [dbo].[TOPIC_MASTER] CHECK CONSTRAINT [CHK_TOPIC_DIFFICULTY]
GO
ALTER TABLE [dbo].[USER_LEARNING_PROFILE]  WITH CHECK ADD  CONSTRAINT [CHK_ULP_GOAL] CHECK  (([LEARNINGGOAL]=N'GENERAL' OR [LEARNINGGOAL]=N'CAREER_CHANGE' OR [LEARNINGGOAL]=N'SKILL' OR [LEARNINGGOAL]=N'INTERVIEW'))
GO
ALTER TABLE [dbo].[USER_LEARNING_PROFILE] CHECK CONSTRAINT [CHK_ULP_GOAL]
GO
ALTER TABLE [dbo].[USER_LEARNING_PROFILE]  WITH CHECK ADD  CONSTRAINT [CHK_ULP_SKILL] CHECK  (([SKILLLEVEL]=N'ADVANCED' OR [SKILLLEVEL]=N'INTERMEDIATE' OR [SKILLLEVEL]=N'BEGINNER'))
GO
ALTER TABLE [dbo].[USER_LEARNING_PROFILE] CHECK CONSTRAINT [CHK_ULP_SKILL]
GO
ALTER TABLE [dbo].[USER_TOPIC_PROGRESS]  WITH CHECK ADD  CONSTRAINT [CHK_UTP_MASTERY] CHECK  (([MASTERYLEVEL]=N'MASTERED' OR [MASTERYLEVEL]=N'PROFICIENT' OR [MASTERYLEVEL]=N'FAMILIAR' OR [MASTERYLEVEL]=N'BEGINNER' OR [MASTERYLEVEL]=N'NOT_STARTED'))
GO
ALTER TABLE [dbo].[USER_TOPIC_PROGRESS] CHECK CONSTRAINT [CHK_UTP_MASTERY]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Due instant in UTC; NULL = no due date.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TODO_TASK', @level2type=N'COLUMN',@level2name=N'DUEDATUTC'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'When 1, DUEDATUTC is date-only (interpret in user timezone in app).' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TODO_TASK', @level2type=N'COLUMN',@level2name=N'ISDATEDATEONLY'
GO
